//
   Created by Sundeep on 7/12/2015.

.row
   .col-md-12
      .bar(style="width=100%;height:40px;background:rgb(31, 82, 128);")
         button.close(type='button' onclick='hideAlert()' aria-label='Close' style="top: 0px;right: 0px;width: 20px;height: 20px;padding: 2px;margin: 10px;")
            span(aria-hidden='true' style='top: 0;') &times;
.row
   .col-md-12
      div(style="padding:10px")
         .media
            .media-left
               a(href="#")
                  img.media-object(src="/images/blank.png" width="64px" height="64px")
            .media-body.text-center(style="vertical-align:middle;")
               h4.media-heading.alert-message
.row
   .col-md-12.text-center(style="padding-left:90px;")
      button.btn.btn-info(onclick="hideAlert()") Ok