//
   Created by Sundeep on 2/11/2015.
extends layout

block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/sales.css')
    script(src='/socket.io/socket.io.js', type='application/javascript')
    script(src='/javascripts/sales.js', type='application/javascript')
    script(src='/javascripts/export.js', type='application/javascript')
block content
    #reports
        include ./set_icons
        h1 Coming Soon