//
   Created by Sundeep on 4/1/2015.
extends layout
block head
    link(href='/stylesheets/connections.css', rel='stylesheet')
    link(href='/lib/Font-Awesome/css/font-awesome.css', rel='stylesheet')
    script(src='/socket.io/socket.io.js', type='application/javascript')
    script(src='/javascripts/socket.io-stream.js', type='application/javascript')
    script(src='/javascripts/connectionCreators.js', type='application/javascript')
    script(src='/javascripts/connections.js', type='application/javascript')
    script(src="//twemoji.maxcdn.com/twemoji.min.js")
    script(src = '/lib/jQuery-linkify/dist/jquery.linkify.js')
    script(src = "/lib/shufflejs/dist/jquery.shuffle.modernizr.js")
    script(src = "/lib/imagesloaded/imagesloaded.pkgd.js")
block content
    .row
        br
        .col-md-2
            |Sort by : &nbsp;&nbsp;
            .btn-group(data-toggle="buttons")
                label.btn.btn-success.active
                    input(type="radio" value="asc" name="sort-options" autocomplete="off" checked=true)
                    |A-Z
                label.btn.btn-danger
                    input(type="radio" value="dsc" name="sort-options" autocomplete="off")
                    |Z-A
        .col-md-7.text-center
            .btn-group(data-toggle="buttons")
                label.btn.btn-success.active
                    input(type="radio" value="eve" name="filter-options" autocomplete="off" checked=true)
                    |Everyone
                label.btn.btn-danger
                    input(type="radio" value="yfl" name="filter-options" autocomplete="off")
                    |You Follow
                label.btn.btn-danger
                    input(type="radio" value="fly" name="filter-options" autocomplete="off")
                    |Following You
                label.btn.btn-danger
                    input(type="radio" value="ydf" name="filter-options" autocomplete="off")
                    |You Don't Follow
                label.btn.btn-danger
                    input(type="radio" value="nfy" name="filter-options" autocomplete="off")
                    |Not Following You
                label.btn.btn-danger
                    input(type="radio" value="feo" name="filter-options" autocomplete="off")
                    |Following Each Other
        .col-md-2.text-right
            .btn-group(data-toggle="buttons")
                //label.btn.btn-success.active
                    input.network.fb(type="checkbox" name="network" autocomplete="off" checked=true)
                    |Facebook
                label.btn.btn-success.active
                    input.network.tw(type="checkbox" name="network" autocomplete="off" checked=true)
                    |Twitter
                label.btn.btn-success.active
                    input.network.it(type="checkbox" name="network" autocomplete="off" checked=true)
                    |Instagram
                //label.btn.btn-success.active
                    input.network.fs(type="checkbox" name="network" autocomplete="off" checked=true)
                    |Foursquare

    #timelines
        br
        #group.row.container-fluid
