//
   Created by Sundeep on 1/20/2015.
extends layout
block head
   link(rel='stylesheet', type='text/css', href='/stylesheets/employeelist.css')

block content
      #merchant
         h2 Employee List
         // merchant
         .business
            #business-icon
               #business-info.active
                  span.number 1
                  span.title Select Employee
                  span.chevron
               #legal-info
                  span.chevron-left
                  span.number-one 2
                  span.title General Info
                  span.chevron-one
               #billing-info
                  span.chevron-left
                  span.number-one 3
                  span.title Verify User
                  span.chevron-one
               #owner-info
                  span.chevron-left
                  span.number-one 4
                  span.title Permissions
                  span.chevron-one
               #pos-info
                  span.chevron-left
                  span.number-one 5
                  span.title Blank
                  span.chevron-one
            // business-icon
            form(action="/users/create/1", method="POST")
               if message.length
                  .alert.alert-danger #{message}
               #general-employee
                  h3 Personal Information
                  #fn
                     span First Name
                     input.fn(name="firstname", required)
                  // fn
                  #lname
                     span Last Name
                     input.lname(name="lastname", required)
                  // lname

                  #email-one
                     span
                      strong Enter atleast one out of the following -
                     br
                     br
                     span Email
                     input.email-one(name="email")
                  // email
                  #phone-one
                     span Phone
                     input.phone-one(name="phonenumber")
                  // phone-one
                  #dob
                     span Date of Birth
                     input.dob(type='date', name="dob")
                  // dob
               // general
               #whole-two
               #down-btn-one
                  button.cancel Cancel
                  button.next(type="submit") Next
   // business
