//
   Created by Sundeep on 1/20/2015.
extends layout

block head
   link(rel='stylesheet', type='text/css', href='/stylesheets/employeelist.css')
block content
   #merchant
      h2 Employee List
      // merchant
      .business
         #business-icon
            #business-info-done
               span.number-one 1
               span.title Select Employee
               span.chevron-done
            #legal-info-active.active
               span.chevron-left
               span.number 2
               span.title General Info
               span.chevron
            #billing-info
               span.chevron-left
               span.number-one 3
               span.title verify User
               span.chevron-one
            #owner-info
               span.chevron-left
               span.number-one 4
               span.title Permissions
               span.chevron-one
            #pos-info
               span.chevron-left
               span.number-one 5
               span.title Blank
               span.chevron-one
         // business-icon
         form(action="/users/create/2", method="POST")
            #general-employee-info
               h3 Personal Information
               #username
                  span Username*
                  input.username(name="username",required)
               #prefix
                  span Prefix*
                  select.prefix
                     option Mr.
                     option Mrs.
               // prefix
               #fn
                  span First Name*
                  if cache && cache.create2 && cache.create2.user && cache.create2.user.firstname
                      input.fn(name="firstname",value=cache.create2.user.firstname,required,readonly='true')
                  else
                      input.fn(name="firstname",required)
               // fn
               #mn
                  span Middle Name
                  if cache && cache.create2 && cache.create2.user && cache.create2.user.middlename
                       input.mn(name="middlename",value=cache.create2.user.middlename,required,readonly='true')
                  else
                       input.mn(name="middlename")
               // mn
               #lname
                   span Last Name
                   if cache && cache.create2 && cache.create2.user && cache.create2.user.lastname
                       input.lname(name="lastname",value=cache.create2.user.lastname,required,readonly='true')
                   else
                       input.lname(name="lastname",required)
               // lname
               #gender
                  span Gender*
                  select.gender(name="gender",required)
                     option(value=0) Male
                     option(value=1) Female
                     option(value=2) Other
               // fti
               #status
                  span Marital Status*
                  select.status(name="martialstatus",required)
                     option(value=0) Single
                     option(value=1) Married
                     option(value=2) Seperated
                     option(value=3) Divorced
                     option(value=4) Widowed
               // dob
               #dob
                  span Date of Birth*
                  if cache && cache.create2 && cache.create2.user && cache.create2.user.dob
                       input.dob(name="dob",type='date',value=cache.create2.user.dob,readonly='true',required)
                  else
                       input.dob(name="dob",type='date',required)
               // dob
            // general
            #address-employee-info
               h3 Address
               #add
                  span Home Address*
                  input.add(name="addressline1",required)
               // add
               #add-two
                  span Home Address 2
                  input.add-two(name="addressline2")
               #add-three
                  span Home Address 3
                  input.add-three(name="addressline3")
               // add-two
               #city
                  span City*
                  input.city(name="addressscity",required)
               #state
                  span State*
                  input.city(name="addressstate",required)
               #zip
                  span Zip*
                  input.zip(name="addresszip",required)
               #cnty
                  span Country*
                  input.cnty(name="addresscountry",required)
            // address
            #contact-info-employee-info
               h3 Contact Information
               #corporate-name
                  span Corporate Name
                  input.corporate-name
               #fax
                  span Fax
                  input.fax
               #phone-one
                  span Phone
                  if cache && cache.create2 && cache.create2.user && cache.create2.user.phonenumber
                       input.phone-one(name="phonenumber",type="tel",value=cache.create2.user.phonenumber,readonly='true')
                  else
                       input.phone-one(name="phonenumber",type="tel")
               #email
                  span Email
                  if cache && cache.create2 && cache.create2.user && cache.create2.user.email
                      input.email(name="email",type="email",value=cache.create2.user.email,readonly='true')
                  else
                      input.email(name="email",type="email")
               h3 Emergency Contact Information
               #cname
                  span Name
                  input.cname(name="emergencyname")
               #relationship
                  span Relationship
                  input.relationship(name="emergencyrelation")
               #phone-one
                  span Phone
                  input.phone-one(name="emergencyphone")
            // contact-info
            #whole-one
               #down-btn
                  button.cancel Cancel
                  button.previous Previous
                  button.next(type="submit") Next
      // business
      // container
