//
   Created by Sundeep on 1/22/2015.

extends layout
block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/employeelist.css')
block content
    #merchant
    h2 Employee List
    // merchant
    .business
        #business-icon
            #business-info-done
                span.number-one 1
                span.title Select Employee
                span.chevron-done
            #legal-info-done.active
                span.chevron-left
                span.number-one 2
                span.title General Info
                span.chevron-done
            #billing-info-active
                span.chevron-left
                span.number-one 3
                span.title Verify User
                span.chevron
            #owner-info
                span.chevron-left
                span.number-one 4
                span.title Permissions
                span.chevron-one
            #pos-info
                span.chevron-left
                span.number-one 5
                span.title Blank
                span.chevron-one
        // business-icon
        form
            if users
                #employee-verify
                    #user
                        span Username:
                        input.user(name="username",value=users.username,required,readonly='true')
                    // fn
                    #tem
                        span Temp Password:
                        input.tem(name="username",value=users.tempPass,required,readonly='true')
                    // mn
                    #send
                        span Send Email to user (#{users.email})
                        input.send(name="email",type='checkbox')
                    // lname
                    #text
                        span Text to user (#{users.phonenumber})
                        input.text(name="phonenumber",type='checkbox')
                    // fti
                    #print
                        span Print
                        input.print(name="print",type='checkbox')
            if probableUsers
                #employee-list
                    table
                        tr
                            th
                            th Username
                            th Email
                            th Phonenumber
                            th DOB
                            th Firstname
                            th Lastname
                            th Middlename
                            th Gender
                        each val in probableUsers
                            tr
                                td
                                    input(type="radio", name=val.username)
                                td #{val.username}
                                td
                                    if(val.email)
                                        |#{val.email}
                                    else
                                        |-
                                td
                                    if(val.phonenumber)
                                        |#{val.phonenumber}
                                    else
                                        |-
                                td
                                    if(val.dob)
                                        |#{val.dob}
                                    else
                                        |-
                                td #{val.firstname}
                                td
                                    if(val.middlename)
                                        |#{val.middlename}
                                    else
                                        |-
                                td #{val.lastname}
                                td
                                    if(val.gender)
                                        |Female
                                    else
                                        |Male
                        tr
                            td
                                input(type="radio",name="new")
                            td Create New User

                // fti
            // general
            #whole-two
            #down-btn-one
                button.cancel Cancel
                button.previous Previous
                button.next Next
    // business
