//
   Created by Sundeep on 1/26/2015.
extends layout

block head
    include ./socialLibraries
    link(href ='/stylesheets/Site.css', rel='stylesheet')
    script(src='/javascripts/Main.js')
    script(src='/javascripts/all.js')
    script(src='/javascripts/poster.js')
    script(src='/javascripts/postCreators.js')
    script(src='/javascripts/Twitter.js')
    script(src='/javascripts/Facebook.js')
    script(src='/javascripts/FourSquare.js')
    script(src='/javascripts/Instagram.js')
    script(src='/javascripts/TwitterSplit.js')
    script(src='/javascripts/FacebookSplit.js')
    script(src='/javascripts/FourSquareSplit.js')
    script(src='/javascripts/InstagramSplit.js')


block content
    #timelines
        .row
            include ./postBar
        .row
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
                #group1
                    .AddButton
                        a(href='/Social/Facebook') Add Facebook Account
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
                #group2
                    .AddButton
                        a(href='/Social/Twitter') Add Twitter Account
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
                #group3
                    .AddButton
                        a(href='/Social/Instagram') Add Instagram Account
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
                #group4
                    .AddButton
                        a(href='/Social/FourSquare') Add FourSquare Account
        //.barfooter.facebookFooter
        //.barfooter.twitterFooter
        //.barfooter.instagramFooter
        //.barfooter.foursquareFooter

