//
   Created by Sundeep on 4/2/2015.

extends layout
block head
    script(src='/socket.io/socket.io.js', type='application/javascript')
    script(src='/javascripts/debug.js')
    style.
        .row {
            text-align: center;
        }
        #icons .col-md-3 .fa {
            font-size: 20px;
        }

block content
    #icons.row
        br
        br
        #FB.col-md-3
            i.fa.fa-facebook
        #TW.col-md-3
            i.fa.fa-twitter
        #IT.col-md-3
            i.fa.fa-instagram
        #FS.col-md-3
            i.fa.fa-foursquare
    #feeds.row
        br
        h3 Clear Feeds
        br
        #FB.col-md-3
            button.btn.btn-danger(onClick='clearFbFeed()') Clear
        #TW.col-md-3
            button.btn.btn-danger(onClick='clearTwFeed()') Clear
        #IT.col-md-3
            button.btn.btn-danger(onClick='clearItFeed()') Clear
        #FS.col-md-3
            button.btn.btn-danger(onClick='clearFsFeed()') Clear
    #connections.row
        br
        h3 Clear Connections
        br
        #FB.col-md-3
            button.btn.btn-danger(onClick='clearFbConnections()' disabled=true) Clear
        #TW.col-md-3
            button.btn.btn-danger(onClick='clearTwConnections()') Clear
        #IT.col-md-3
            button.btn.btn-danger(onClick='clearItConnections()') Clear
        #FS.col-md-3
            button.btn.btn-danger(onClick='clearFsConnections()' disabled=true) Clear
    #Accounts.row
        br
        h3 Clear Accounts
        br
        #FB.col-md-3
            button.btn.btn-danger(onClick='clearFbAccounts()') Clear
        #TW.col-md-3
            button.btn.btn-danger(onClick='clearTwAccounts()' disabled=true) Clear
        #IT.col-md-3
            button.btn.btn-danger(onClick='clearItAccounts()' disabled=true) Clear
        #FS.col-md-3
            button.btn.btn-danger(onClick='clearFsAccounts()') Clear