//
   Created by Sundeep on 4/9/2015.

extends layout
block head
    include ./socialLibraries
    link(rel="stylesheet" type="text/css" href="/stylesheets/socialmedia.css")
    link(href  = '/stylesheets/postbar.css', rel='stylesheet')
    link(href  = '/stylesheets/Site.css', rel='stylesheet')
    link(href  = '/stylesheets/feedback.css', rel='stylesheet')
    script(src = '/javascripts/poster.js')
    script(src = '/javascripts/Facebook.js')
    script(src = '/javascripts/Twitter.js')
    script(src = '/javascripts/Instagram.js')
    script(src = '/javascripts/postMentionsCreators.js')
    script(src = '/javascripts/insights.js')

block content
    .row
        #locationLogo.col-lg-2.col-md-3.col-sm-12.col-xs-12
            .post.text-center(style="height:135px;width:inherit;margin-top:4px;display: table-cell;vertical-align: middle;")
                img(src='/logos/#{layoutObject.location.selected}' onerror="$('#locationLogo').hide();$('#dashboardPostBar').addClass('col-lg-12 col-md-12').removeClass('col-lg-10 col-md-9')")
        #dashboardPostBar.col-lg-10.col-md-9.col-sm-12.col-xs-12
            include ./postBar
        //.col-lg-2.col-md-3.col-sm-12.col-xs-12
            .post(style="height:135px;margin-top:4px;")
                .media
                    h4.media-heading.text-center(style="margin-bottom:10px")
                        strong Your Social Media Assistant
                    .media-left
                        a
                            img.media-object(src="/images/katherine.png" width="70px" height="70px" style="margin-right:5px;")
                    .media-body
                        p Katherine Pysher
                        p 646-604-8516
                        a(href="mailto:katherine@clickdaily.com") Email

    .row.screen.text-center
        .col-md-2.screen-tile
            .row.screen-title
                h3 Post Views
            .row.screen-content
                span.ioyp 0
                br
                strong Last 7 days
        .col-md-2.screen-tile
            .row.screen-title
                h3 Post Interactions
            .row.screen-content
                span.ropp 0
                br
                strong Last 7 days
        .col-md-2.screen-tile
            .row.screen-title
                h3 Post Unique Views
            .row.screen-content
                span.oi 0
                br
                strong Last 7 days
        .col-md-2.screen-tile
            .row.screen-title
                h3 Post Unique Interactions
            .row.screen-content
                span.or 0
                br
                strong Last 7 days
        .col-md-2.screen-tile
            .row.screen-title
                h3 Posts Created
            .row.screen-content
                span.nopm 0
                br
                strong Last 7 days
    //.row
        .col-lg-4.col-md-122.col-sm-12.text-center
            h2 Mentions
        .col-lg-8.col-md-12.col-sm-12.text-center

            .col-lg-6.col-md-6

            .col-lg-6.col-md-6
                h3 Facebook
    br
    .row
        #mentions.col-lg-3.col-md-3.col-sm-12(style="background: aliceblue;border-radius: 5px;")
            h2.text-center People Talking About You
            br
            .col-md-12
                .row.counts
                    .col-md-4
                        span.unread
                            i.fa.fa-envelope
                            span.unreadNum
                                |&nbsp;
                                span.num 0
                                small &nbsp;Unread
                    .col-md-4
                        span.read
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', fill='green', width='23.79729191px', height='20px', viewbox='0 0 495.086 416.086', enable-background='new 0 0 495.086 416.086', xml:space='preserve')
                                g#Layer_1
                                g#Layer_2
                                    polygon(fill='inherit', points='193.806,284.721 104.574,340.123 15.341,395.523 15.341,284.721 15.341,173.917 104.574,229.318 ')
                                    polygon(fill='inherit', points='295.341,285.054 384.573,340.456 473.806,395.856 473.806,285.054 473.806,174.25 384.573,229.651')
                                    path(fill='none', stroke='inherit', stroke-miterlimit='10', d='M-198.435-6.913')
                                    path(fill='inherit', d='M32,395.488')
                                    polygon(fill='inherit', points='450.532,396.523 34,396.523 203.243,288 281.494,288 	')
                                    rect(x='121.981', y='-33.298', transform='matrix(0.5839 0.8118 -0.8118 0.5839 142.7655 -66.5833)', fill='inherit', width='28.707', height='278.547')
                                    polygon(fill='inherit', points='456.898,197.664 474.624,173.017 240.651,13.271 222.924,37.918 	')
                            span.readNum
                                |&nbsp;
                                span.num 0
                                small &nbsp;Read
                    .col-md-4
                        span.urgent
                            i.fa.fa-exclamation-circle
                            span.urgentNum
                                |&nbsp;
                                span.num 0
                                small &nbsp;Need Attention
        #myTabs.col-lg-9.col-md-9.col-sm-12
            ul.nav.nav-tabs(role="tablist" data-tabs="tabs")
                li.active(role="presentation")
                    a(href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab") Your Posts
                if !layoutObject.isTwitter
                    li(role="presentation")
                        a(href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab") Scheduled (
                            span.schcount 0
                            | )
                    li(role="presentation")
                        a(href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab") Need Your Approval (
                            span.needapprovalcount 0
                            | )
                    li(role="presentation")
                        a(href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab") Pending Approval (
                            span.pendingapprovalcount 0
                            | )
                    li(role="presentation")
                        a(href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab") Rejected

            .tab-content
                #tab1.tab-pane.active.fade.in(role="tabpanel")
                    #you.col-md-12( style="background: rgb(220, 238, 255);border-radius: 5px;")
                        //h2.text-center Your Posts
                        br
                        .col-lg-4.col-md-4.col-sm-12#TW
                            h3.text-center
                                i.fa.fa-twitter.timeline-logo
                        .col-lg-4.col-md-4.col-sm-12#FB
                            h3.text-center
                                i.fa.fa-facebook.timeline-logo
                        .col-lg-4.col-md-4.col-sm-12#IT
                            h3.text-center
                                i.fa.fa-instagram.timeline-logo
                if !layoutObject.isTwitter
                    #tab2.tab-pane.fade(role="tabpanel")
                        .col-md-12(role="tabpanel" style="background: rgb(220, 238, 255);border-radius: 5px;")
                            br
                            .col-lg-4.col-md-4.col-sm-12#TW_sch
                                h3.text-center
                                    i.fa.fa-twitter.timeline-logo
                            .col-lg-4.col-md-4.col-sm-12#FB_sch
                                h3.text-center
                                    i.fa.fa-facebook.timeline-logo
                            .col-lg-4.col-md-4.col-sm-12#IT_sch
                                h3.text-center
                                    i.fa.fa-instagram.timeline-logo
                            br
                            br
                            br
                            br
                            .nopost.text-center
                                h1
                                    i.fa.fa-folder-open-o
                                h1 No Posts
                    #tab3.tab-pane.fade(role="tabpanel")
                        .col-md-12(role="tabpanel" style="background: rgb(220, 238, 255);border-radius: 5px;")
                            br
                            .col-lg-4.col-md-4.col-sm-12#TW_need
                                h3.text-center
                                    i.fa.fa-twitter.timeline-logo
                            .col-lg-4.col-md-4.col-sm-12#FB_need
                                h3.text-center
                                    i.fa.fa-facebook.timeline-logo
                            .col-lg-4.col-md-4.col-sm-12#IT_need
                                h3.text-center
                                    i.fa.fa-instagram.timeline-logo
                            br
                            br
                            br
                            br
                            .nopost.text-center
                                h1
                                    i.fa.fa-folder-open-o
                                h1 No Posts
                    #tab4.tab-pane.fade(role="tabpanel")
                        .col-md-12(role="tabpanel" style="background: rgb(220, 238, 255);border-radius: 5px;")
                            br
                            .col-lg-4.col-md-4.col-sm-12#TW_pending
                                h3.text-center
                                    i.fa.fa-twitter.timeline-logo
                            .col-lg-4.col-md-4.col-sm-12#FB_pending
                                h3.text-center
                                    i.fa.fa-facebook.timeline-logo
                            .col-lg-4.col-md-4.col-sm-12#IT_pending
                                h3.text-center
                                    i.fa.fa-instagram.timeline-logo
                            br
                            br
                            br
                            br
                            .nopost.text-center
                                h1
                                    i.fa.fa-folder-open-o
                                h1 No Posts
                    #tab5.tab-pane.fade(role="tabpanel")
                        .col-md-12(role="tabpanel" style="background: rgb(220, 238, 255);border-radius: 5px;")
                            br
                            .col-lg-4.col-md-4.col-sm-12#TW_rejected
                                h3.text-center
                                    i.fa.fa-twitter.timeline-logo
                            .col-lg-4.col-md-4.col-sm-12#FB_rejected
                                h3.text-center
                                    i.fa.fa-facebook.timeline-logo
                            .col-lg-4.col-md-4.col-sm-12#IT_rejected
                                h3.text-center
                                    i.fa.fa-instagram.timeline-logo
                            br
                            br
                            br
                            br
                            .nopost.text-center
                                h1
                                    i.fa.fa-folder-open-o
                                h1 No Posts