//
   Created by Sundeep on 2/10/2015.
#box
    #one.filterItem
        span Period
        select#period
            option(selected=FilterType==0, value=0) Dates
            option(selected=FilterType==1, value=1) Today
            option(selected=FilterType==2, value=2) Yesterday
            option(selected=FilterType==3, value=3) WTD
            option(selected=FilterType==4, value=4) MTD
    // #one
    #two.filterItem
        span From
        input.date(type="date", disabled)
        br
    #three.filterItem
        span To
        input.date(type="date", disabled)
    // #button
    #button-one.filterItem
        a(href='#') Apply
    // #button-one
// end of #box