//
   Created by Sundeep on 1/26/2015.
extends layout

block head
    link(href='/stylesheets/StyleSheet1.css', rel='stylesheet')
    link(href='/stylesheets/font-awesome.css', rel='stylesheet')
    link(href='/lib/handsontable/dist/handsontable.full.min.css', rel='stylesheet')
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/jquery-ui/jquery-ui.min.js')
    script(src='/lib/handsontable/dist/handsontable.full.min.js')
    script(src='/lib/moment/min/moment.min.js')
    script(src='/lib/moment-timezone/builds/moment-timezone.min.js')
    script(src = '/socket.io/socket.io.js', type='application/javascript')
    script(src='/javascripts/first.js')
    link(href='https://fonts.googleapis.com/css?family=Lobster|Indie+Flower', rel='stylesheet', type='text/css')

block content
    .overlay
    .viewer
    .col-md-6.col-sm-12(style="height:50%;border-bottom:2px solid;border-right:2px solid;")
        .row
            .col-md-4
                h2
                   i.fa.fa-facebook-f
                   |&nbsp;&nbsp;Facebook
            .col-md-8.fb.add
                a.btn.btn-lg.btn-primary(href="/Social/Facebook") Add Network
            .col-md-8.fb.del
                a.btn.btn-lg.btn-danger(href="/Social/FB/delNetwork") Delete Network
        br
        .row.userInfo.fb
            .col-md-4
                img.image.img-responsive.pic.fb(src="/images/icon-click.png")
            .col-md-8
                br
                br
                h3
                    strong Name :&nbsp;
                    span.name.fb Click

    .col-md-6.col-sm-12(style="height:50%;border-bottom:2px solid;border-left:2px solid;")
        .row
            .col-md-4
                h2
                    i.fa.fa-twitter
                    |&nbsp;&nbsp;Twitter
            .col-md-8.tw.add
                a.btn.btn-lg.btn-primary(href="/Social/Twitter") Add Network
            .col-md-8.tw.del
                a.btn.btn-lg.btn-danger(href="/Social/TW/delNetwork") Delete Network
        br
        .row.userInfo.tw
            .col-md-4
                img.image.img-responsive.pic.tw(src="/images/icon-click.png")
            .col-md-8
                br
                br
                h3
                    strong Name :&nbsp;
                    span.name.tw Click

    .col-md-6.col-sm-12(style="height:50%;border-top:2px solid;border-right:2px solid;")
        .row
            .col-md-4
                h2
                    i.fa.fa-instagram
                    |&nbsp;&nbsp;Instagram
            .col-md-8.it.add
                a.btn.btn-lg.btn-primary(href="/Social/Instagram") Add Network
            .col-md-8.it.del
                a.btn.btn-lg.btn-danger(href="/Social/IT/delNetwork") Delete Network
        br
        .row.userInfo.it
            .col-md-4
                img.image.img-responsive.pic.it(src="/images/icon-click.png")
            .col-md-8
                br
                br
                h3
                    strong Name :&nbsp;
                    span.name.it Click

    .col-md-6.col-sm-12(style="height:50%;border-top:2px solid;border-left:2px solid;")
        .row
            .col-md-4
                h2
                    i.fa.fa-foursquare
                    |&nbsp;&nbsp;FourSquare
            .col-md-8.fs.add
                a.btn.btn-lg.btn-primary(href="/Social/FourSquare") Add Network
            .col-md-8.fs.del
                a.btn.btn-lg.btn-danger(href="/Social/FS/delNetwork") Delete Network
        br
        .row.userInfo.fs
            .col-md-4
                img.image.img-responsive.pic.fs(src="/images/icon-click.png")
            .col-md-8
                br
                br
                h3
                    strong Name :&nbsp;
                    span.name.fs Click

