doctype html
html
  head
    title Clickdaily
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    // load fontawesome
    style.
      body        { padding-top:80px; }
  body
    .container
      .jumbotron.text-center
        h1
          span.fa.fa-lock Clickdaily Authentication
        p Login or Register with:
        a.btn.btn-default(href='/login')
          span.fa.fa-user Local Login
        a.btn.btn-default(href='/signup')
          span.fa.fa-user Local Signup
