//
   Created by Sundeep on 5/7/2015.

extends layout
block head
    include ./socialLibraries
    script(src="/lib/d3/d3.js" charset="utf-8")
    script.
        var Gdata;
        var Gerr;
        social.emit("FB_Insights")
        social.on("FB_Insights",function(err,data){
            console.log(err,data);
            Gdata = data;
            Gerr = err;
            var daily = [];
            var weekly = [];
            var monthly = [];
            var rest = [];
            data.data.forEach(function (d, i) {
                if (d.title.substr(0, 5) == 'Daily') {
                    daily.push(d);
                } else if (d.title.substr(0, 6) == 'Weekly') {
                    weekly.push(d);
                } else if (d.title.substr(0, 7) == '28 Days') {
                    monthly.push(d);
                } else {
                    rest.push(d)
                }
            });

            if (daily.length > 0) {
                $("#insights").append("<br/><div class='panel panel-default' id='dailyFB'></div>");
                $("#dailyFB").append('<div class="panel-heading"><h3 class="panel-title">Daily</h3></div>');
                $("#dailyFB").append('<div class="panel-body"></div>');
                $("#dailyFB .panel-heading").click(function () {
                    console.log("here");
                    $(this).parent().find(".panel-body").slideToggle(750);
                });
                daily.forEach(function (d, i) {
                    makeLine(d, i + 'd', 'dailyFB')
                });
            }

            if (weekly.length > 0) {
                $("#insights").append("<br/><div class='panel panel-default' id='weeklyFB'></div>");
                $("#weeklyFB").append('<div class="panel-heading"><h3 class="panel-title">Weekly</h3></div>');
                $("#weeklyFB").append('<div class="panel-body"></div>');
                $("#weeklyFB .panel-heading").click(function () {
                    console.log("here");
                    $(this).parent().find(".panel-body").slideToggle(750);
                });
                weekly.forEach(function (d, i) {
                    makeLine(d, i + 'w', 'weeklyFB')
                });
            }

            if (monthly.length > 0) {
                $("#insights").append("<br/><div class='panel panel-default' id='monthlyFB'></div>");
                $("#monthlyFB").append('<div class="panel-heading"><h3 class="panel-title">Monthly</h3></div>');
                $("#monthlyFB").append('<div class="panel-body"></div>');
                $("#monthlyFB .panel-heading").click(function () {
                    console.log("here");
                    $(this).parent().find(".panel-body").slideToggle(750);
                });
                monthly.forEach(function (d, i) {
                    makeLine(d, i + 'm', 'monthlyFB')
                });
            }

            if (rest.length > 0) {
                $("#insights").append("<br/><div class='panel panel-default' id='lifetimeFB'></div>");
                $("#lifetimeFB").append('<div class="panel-heading"><h3 class="panel-title">Lifetime</h3></div>');
                $("#lifetimeFB").append('<div class="panel-body"></div>');
                $("#lifetimeFB .panel-heading").click(function () {
                    console.log("here");
                    $(this).parent().find(".panel-body").slideToggle(750);
                });
                rest.forEach(function (d, i) {
                    makeLine(d, i + 'r', 'lifetimeFB')
                });
            }
        });

        function makeLine(d,i,ref) {
            data = d.values;
            var margin = { top: 50, right: 20, bottom: 30, left: 50 },
                    width = 400 - margin.left - margin.right,
                    height = 300 - margin.top - margin.bottom;

            var parseDate = d3.time.format("%d-%b-%y").parse;

            var x = d3.time.scale()
                    .range([0, width]);

            var y = d3.scale.linear()
                    .range([height, 0]);

            var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom");

            var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left");

            var line = d3.svg.line()
                    .x(function (d) { return x(d.date); })
                    .y(function (d) { return y(d.close); });

            var svg = d3.select("#" + ref + " .panel-body").append("svg")
                    .attr("id","line"+i)
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            data.forEach(function (d) {
                d.date = parseDate(moment(d.end_time, "YYYY-MM-DDTHH:mm:ss+ZZ").format("DD-MMM-YY"));

                d.close = +d.value;
            });

            x.domain(d3.extent(data, function (d) { return d.date; }));
            y.domain([d3.min([d3.min(data, function (d) { return d.close; }),0]),d3.max([d3.max(data, function (d) { return d.close; }),10])]);

            svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);

            svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                    .text("Count");

            svg.append("path")
                    .datum(data)
                    .attr("class", "line")
                    .attr("d", line);

            svg.append("text")
                    .attr("x", (width / 2))
                    .attr("y", (0-margin.top/3))
                    .attr("text-anchor", "middle")
                    .style("font-size", "16px")
                //.style("text-decoration", "underline")
                    .text(d.title);
        }
    style.
        .axis path,
        .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
        }

        .x.axis path {
                display: none;
        }

        .line {
                fill: none;
                stroke: steelblue;
                stroke-width: 1.5px;
        }

        .barSearch{
            width:100%;
            border-width:0 thin thin thin;
            border-color:rgb(199, 199, 199);
            background:none;
        }

        .panel-body{
            display:none;
        }
block content
    #insights