//
   Created by Sundeep on 6/3/2015.

extends layout
block head
    include ./socialLibraries
    script(src = '/javascripts/keywords.js')
block content
    .row
        .col-md-12
            h1.text-center Manage Keywords
    br
    .row
        textarea#keyWordsAdd.form-control(placeholder="Enter Keywords Seperated by comma")
    br
    .row
        .text-center
            button.btn.btn-primary(type="button" onclick="addKeyWords()") Add
    br
    br
    .row
        #first.col-md-4.col-lg-3.col-sm-6.col-xs-12
            ul.list-group
                //li.list-group-item.list-group-item-info One

        #second.col-md-4.col-lg-3.col-sm-6.col-xs-12
            ul.list-group
                //li.list-group-item.list-group-item-info Two
        #third.col-md-4.col-lg-3.col-sm-6.col-xs-12
            ul.list-group
                //li.list-group-item.list-group-item-info Three
        #fourth.col-md-4.col-lg-3.col-sm-6.col-xs-12
            ul.list-group
                //li.list-group-item.list-group-item-info Four
