doctype html
html
  head
    meta(name="google-translate-customization", content="fab81d618a690c27-e9d69f14842535a6-gf7c9b245ff36382c-13")
    title Clickdaily - #{title}
    link(rel='stylesheet', type='text/css', href='/stylesheets/layout-menu.css')
    script(src='/lib/jquery/dist/jquery.js')
    //script(src='/lib/jquery.PrintArea/js/jquery.PrintArea.js')
    script(src='/lib/jspdf/dist/jspdf.min.js')
    script(src='/lib/html2canvas/build/html2canvas.min.js')
    script(src='/lib/tablesorter/jquery.tablesorter.js')

    link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', type='text/css', href='/lib/Font-Awesome/css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='/lib/multilevelpushmenu/jquery.multilevelpushmenu.css')
    link(rel='stylesheet', type='text/css', href='/lib/bootstrap3-dialog/dist/css/bootstrap-dialog.css')
    script(src='/lib/bootstrap/dist/js/bootstrap.js', type='application/javascript')
    script(src='/lib/modernizr/modernizr.js', type='application/javascript')
    script(src='/lib/bootstrap3-dialog/dist/js/bootstrap-dialog.js', type='application/javascript')

      //script(src='/lib/multilevelpushmenu/jquery.multilevelpushmenu.min.js', type='application/javascript')

    script(src='/javascripts/layout.js', type='application/javascript')

    link(rel='stylesheet', type='text/css', href='/SideBar/css/normalize.css')
    //link(rel='stylesheet', type='text/css', href='/SideBar/css/demo.css')
    link(rel='stylesheet', type='text/css', href='/SideBar/css/icons.css')
    link(rel='stylesheet', type='text/css', href='/SideBar/css/component.css')

    block head
  body
    .overlay
    .viewer
    #navigation
      #logo
        img(src='/images/clickdailylogo-new.png', width='130')
      // end of Logo
      if !skipRight
          #right-information
            #google_translate_element
            |&nbsp;
            span Welcome&nbsp;
              strong #{layoutObject.name},&nbsp;
            select#user
              if layoutObject.location
                  if layoutObject.location.all
                      if layoutObject.location.all.length
                          each val in layoutObject.location.all
                              option(selected=val.id==layoutObject.location.selected, value=val.id) #{val.name}
            span
              a(href="/logout" style="font-size:25px")
                i.fa.fa-sign-out
                |&nbsp;

            script(type="text/javascript").
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en',includedLanguages: 'fr,it', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
              }
            script(type="text/javascript", src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
          // end of right-information
       // end of navigation
      #mp-pusher.rest.row.mp-pusher
        .scroller
            #container.col-lg-12.col-md-12.col-sm-12
                a#trigger.menu-trigger(href='#')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                //h2 Test
                block content
        if !skipLeft


            // mp-menu
            nav#mp-menu.mp-menu
                .mp-level
                    h2.icon.fa-home.fa
                    ul
                        if layoutObject.modules && layoutObject.modules.Reporting
                            li.icon.icon-arrow-left
                                a.icon.icon-news(href='#') Reports
                                .mp-level
                                    h2.icon.icon-news Reports
                                    a.mp-back(href='#') back
                                    ul
                                        li.icon.icon-arrow-left
                                            a.icon.icon-phone(href='#') Sales Reports
                                            .mp-level
                                                h2 Sales Reports
                                                a.mp-back(href='#') back
                                                ul
                                                    li
                                                        a(href="/reports/SalesSummaryReport") Sales Summary Reports
                                                    li
                                                        a(href='#') Items Reports
                                        li
                                            a.icon.icon-tv(href='/reports/ItemsReports') Items Reports
                                        li
                                            a.icon.icon-tv(href='/reports/SalesCategoryReports') Sales Category Reports
                                        li
                                            a.icon.icon-tv(href='/reports/WaiterReports') Waiter/Tips Reports
                                        li
                                            a.icon.icon-tv(href='/reports/LaborReports') Labor Reports
                                        li
                                            a.icon.icon-tv(href='/reports/TranctionsReports') Tranctions Reports
                                        li
                                            a.icon.icon-tv(href='/reports/SalesTypeStatisticsReports') Sales Type Statistics Reports
                        if layoutObject.modules && layoutObject.modules.POS
                            li.icon.icon-arrow-left
                                a.icon.icon-news(href='#') POS
                                .mp-level
                                    h2.icon.icon-news POS
                                    a.mp-back(href='#') back
                                    ul
                                        li
                                            a(href='/pos/Employees') Employees
                                        li
                                            a(href='/pos/Items') Items
                                        li
                                            a(href='/pos/Keyboard') Keyboard
                                        li
                                            a(href='/pos/Tables') Tables
                        if layoutObject.modules && layoutObject.modules.Labor
                            li.icon.icon-arrow-left
                                a.icon.icon-shop(href='#') Labor
                                .mp-level
                                    h2.icon.icon-shop Labor
                                    a.mp-back(href='#') back
                                    ul
                                        li.icon.icon-arrow-left
                                            a.icon.icon-t-shirt(href='#') Employees
                                            .mp-level
                                                h2.icon.icon-t-shirt Employees
                                                a.mp-back(href='#') back
                                                ul
                                                    li
                                                        a.icon.icon-female(href='/users/create/1') Create
                                                    li
                                                        a.icon.icon-male(href='#') Employees List
                                        li
                                            a.icon.icon-diamond(href='#') Time Clocking
                                            .mp-level
                                                h2.icon.icon-t-shirt Time Clocking
                                                a.mp-back(href='#') back
                                                ul
                                                    li.icon.icon-arrow-left
                                                        a.icon.icon-female(href='/labor/TimeClocking') Time Clocking Log
                        if layoutObject.modules && layoutObject.modules.Logbook
                            li
                                a.icon.icon-photo(href='/logbook') Logbook
                        if layoutObject.modules && layoutObject.modules.Social
                            li.icon.icon-arrow-left
                                a.icon.icon-world(href='#') Social Media
                                .mp-level
                                    h2.icon.icon-world Social Media
                                    a.mp-back(href='#') back
                                    ul
                                        li
                                            a.icon.fa.fa-file(href='/Social/Dashboard') Dashboard
                                        if !layoutObject.isTwitter
                                            li
                                                a.icon.fa.fa-user-plus(href='/Social/Suggestions') Potential Customers
                                        li
                                            a.icon.fa.fa-newspaper-o(href='/Social/Merged') Timeline
                                        if !layoutObject.isTwitter
                                            li
                                                a.icon.fa.fa-line-chart(href='/Social/Statistics') Analytics
                                        li
                                            a.icon.fa.fa-users(href='/Social/Connections') Connections
                                        li
                                            a.icon.fa.fa-calendar-o(href='/Social/Schedule') Post Scheduling
                                        li
                                            a.icon.fa.fa-code(href='/Social/Keywords') Manage Keywords
                                        li
                                            a.icon.fa.fa-plus-square(href='/Social/First') Manage Networks
                                        li
                                            a.icon.fa.fa-external-link(href='/Social/ShortUrls') Manage Short Urls
                                        //li.icon.icon-arrow-left
                                            a.icon.fa.fa-bullseye(href='#') Promotions
                                            .mp-level
                                                h2.icon.fa.fa-bullseyes Promotions
                                                a.mp-back(href='#') back
                                                ul
                                                    li
                                                        a.icon.fa.fa-plus-circle(href='/Social/Loyalty/Create') Create
                                                    li
                                                        a.icon.fa.fa-list-alt(href='/Social/Loyalty/List') List
                        li.icon.icon-arrow-left
                            a.icon.icon-settings(href='#') Settings
                            .mp-level
                                h2.icon.icon-settings Settings
                                a.mp-back(href='#') back
                                ul
                                    li
                                        a.icon.icon-display(href='/settings/addLogo') Add/Update Logo
                                    li
                                        a.icon.icon-key(href='/settings/ResetPassword') Reset Password
                        li
                            a.icon.icon-bubble(href='/support') Support
                        if layoutObject.modules && layoutObject.modules.Debug
                            li
                                a.icon.icon-study(href='/Debug') Debug
    #alert-box
        include ./alertBox

    script(src='/SideBar/js/classie.js')
    script(src='/SideBar/js/mlpushmenu.js')
