//
   Created by Sundeep on 3/13/2015.
extends layout
block head
    link(rel="stylesheet" type="text/css" href="stylesheets/logbook.css")
    link(rel="stylesheet" type="text/css" href="/lib/jquery-ui/themes/redmond/jquery-ui.css")
    script(type="application/javascript", src="/lib/jquery-ui/jquery-ui.js")
    script.
        $(function() {
            $( "#datepicker" ).datepicker({
                gotoCurrent: true,
                changeMonth: true,
                changeYear: true,
                dateFormat : "MM d, yy",
                showOn: "button",
                buttonImage: "/images/selected.gif",
                buttonImageOnly: true,
                buttonText: "Select date"
            });
            $( "#datepicker" ).datepicker( "setDate", "0" );
        });
block content
    #today
        include ./set_icons
        br
        br
        #dates
            | <&nbsp;
            input.text-center#datepicker(type='text')
            | &nbsp;>
        .location-lb
            span Location :&nbsp;
            select#location-lb
                option Grand Central
                option Soho
        table.table#logbook-screen
            tr
                //#gross-sales
                td.logbook-cell
                    h3 Gross Sales
                    .number #{sales.gross}
                    .description Total Gross Sales
                //#net-sales
                td.logbook-cell
                    h3 Net Sales
                    .number #{sales.net}
                    .description Total Net Sales
                //#cover-count
                td.logbook-cell
                    h3 Cover Count
                    .number #{sales.coverCount}
                    .description Total Covers
                //#average-check

                td.logbook-cell
                    h3 Average Check

                    .number #{sales.averageCheck}
                    .description Average Check
                //#promo-sales
            tr
                td.logbook-cell
                    h3 Promo % Sales

                    .number #{sales.promo}
                    .description Promotion % of sales
                //#void-quantity
                td.logbook-cell
                    h3 Void Quantity

                    .number #{sales.void}
                    .description Total Number of Void
                //#labor-sales
                td.logbook-cell
                    h3 Labor % of Sales

                    .number #{sales.labor}
                    .description Labor % Sales

                //#weather
                td.logbook-cell
                    h3 Weather

                    .number
                        img(src='images/sun.png', width='80')
                    .description Sunny/Clear
                //#event
            tr
                td.logbook-cell
                    h3 Events

                //#lunch
                td.logbook-cell
                    h3 Lunch Covers

                    .text-two Started with 97 ended with 229
                //#dinner
                td.logbook-cell
                    h3 Dinner Covers

                    .text-two 81
                //#eight-six
                td.logbook-cell
                    h3 86&apos;
                    .text-two Out of Stock
                        br
                        | 86
            tr
                //#special
                td.logbook-cell(colspan=2)
                    h3 Specials of the Day
                    .text-one Lentil Soup
                        br
                        |                 Beet &amp; Goat Cheese Salad
                        br
                        |                 Swordfish with Israeli Couscous
                        br
                        |                 Kumamoto
                //#vip
                td.logbook-cell(colspan=2)
                    h3 VIPs
                    .text-two Mr. Bassini
                        br
                        | Brad Pit
            tr

                //#kitchen-fridge
                td.logbook-cell(colspan=2)
                    h3 Kitchen Refrigerator
                    .text-four Fridge 1: 35F / 1.6F, Manager Narang, The lights are very dim.
                    .text-five Fridge 2: 35F / 1.6F, Manager Narang, The lights are very dim.
                    .text-five Fridge 2: 35F / 1.6F, Manager Narang, The lights are very dim.
                //#bar-fridge
                td.logbook-cell(colspan=2)
                    h3 Bar Refrigerator
                    .text-four Fridge 1: 35F / 1.6F, Manager Narang.
                    .text-five Fridge 2: 35F / 1.6F, Manager Narang, The lights are very dim.
                    .text-five Fridge 2: 35F / 1.6F, Manager Narang, The lights are very dim.
                //#note
            tr
                td.logbook-cell(colspan=4)
                    h3 Restaurant Note
                    .text-two Steady lunch, not as busy as expecting.
            tr
                td.logbook-cell(colspan=4)
                    h3 Back of House Note
                    .text-three Slow start, 20 people reservation no show,
                        | after 7pm we got some action mostly at once. Kitchen slow a bit duirng rush,
                        | great night at bar tables. pearl bar also saw some action.
                        | Main bar light throught the night.
            tr
                //#kitchen-note
                td.logbook-cell(colspan=4)
                    h3 Kitchen Note
                    .text-three A little slow during rush. 1 customer returned his ribeye 3 times.
                        | Claimed was not cooked properly R+. After thingd attempt he was pretty furious, got a fourth steak which he claimed was still not cooked properly but ate it anyway. We comped him 2 glasses of wine.
            tr
                //#bar-note
                td.logbook-cell(colspan=4)
                    h3 Bar Note
                    .text-three 1 table called me to tell me how great sundeep was with them,
                        | especially how he always convinces them to buy something else. Alice and husband.
            tr
                //#employee
                td.logbook-cell(colspan=4)
                    h3 Employees
                    .text-three 1 table called me to tell me how great sundeep was with them,
                        | especially how he always convinces them to buy something else. Alice and husband.
            tr
                //#manager
                td.logbook-cell(colspan=4)
                    h3 Managers
                    .text-three 1 table called me to tell me how great sundeep was with them,
                        | especially how he always convinces them to buy something else. Alice and husband.
            tr
                //#reservation
                td.logbook-cell(colspan=4)
                    h3 Reservation
                    .text-three A little slow during rush. 1 customer returned his ribeye 3 times.
                        | Claimed was not cooked properly R+. After thingd attempt he was pretty furious, got a fourth steak which he claimed was still not cooked properly but ate it anyway. We comped him 2 glasses of wine.
            tr
                //#delivery
                td.logbook-cell(colspan=4)
                    h3 Delivery
                    .text-three 1 table called me to tell me how great sundeep was with them,
                        | especially how he always convinces them to buy something else. Alice and husband.
            tr
                //#repair
                td.logbook-cell(colspan=4)
                    h3 Repair
                    .text-three 1 table called me to tell me how great sundeep was with them,
                        | especially how he always convinces them to buy something else. Alice and husband.
