doctype html
html
    head
        title Clickdaily
        link(rel='stylesheet', type='text/css', href='/stylesheets/layout-menu.css')
        link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        // load bootstrap css
        link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        // load fontawesome
        style.
            body        { padding-top:80px;
                            color:rgb(61, 164, 254);}
    body
        #navigation
            #logo
                img(src='/images/Clickdaily-logo_no_background.png', width='130')
        .container
            .col-sm-6.col-sm-offset-3
                h1
                    span Log In
                // show any messages that come back with authentication
                if message.length
                    .alert.alert-danger #{message}
                // LOGIN FORM
                form(action='/login', method='post')
                    .form-group
                        label Username
                        input.form-control(type='text', name='username')
                    .form-group
                        label Password
                        input.form-control(type='password', name='password')
                    button.btn.btn-primary.btn-lg(type='submit') Login
                hr
                p
                    a(href='/support/forgotPassword/') Forgot Password or Username
                p Or go&nbsp;
                    a(href='http://clickdaily.com') home
                    | .