//
   Created by Sundeep on 3/4/2015.

extends layout
block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/loyalty.css')
    script(src='/socket.io/socket.io.js', type='application/javascript')
    script(src='/javascripts/loyalty_list.js', type='application/javascript')
block content
    #loyalty
        br
        br
        if code
            if list
                table.table.table-hover.tablesorter(width='800')
                    thead
                        th Createdd At
                        th Issued
                        th Redeemed
                        th Sequence Number
                        th QR Code
                        th Name
                        th Picture
                    tbody
                    each val in code
                        tr
                            td #{val.created_at}
                            td
                                if val.issued
                                    i.fa.fa-check
                                else
                                    i.fa.fa-close
                            td
                                if val.redeemed
                                    i.fa.fa-check
                                else
                                    i.fa.fa-close
                            td #{val.sequenceNumber}
                            td
                                if val.qrcode
                                    |#{val.qrcode}
                                else
                                    i.fa.fa-close
                            td
                                if val.profileName
                                    |#{val.profileName}
                                else
                                    i.fa.fa-close
                            td
                                if val.pic_large
                                    img.media-object(width="64" src="#{val.pic_large}")
                                else
                                    i.fa.fa-close
