//
   Created by Sundeep on 2/20/2015.

extends layout
block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/loyalty.css')
    script(src='/socket.io/socket.io.js', type='application/javascript')
    script(src='/javascripts/loyalty.js', type='application/javascript')
    script(src='/javascripts/socket.io-stream.js', type='application/javascript')
block content
    #loyalty
        br
        br
        form.form-horizontal#loyalty
            .row
                .col-md-6.text-center.screen
                    input#imgInp(name='media', type='file', accept="image/*")
                    .image
                        img#previewImage.img-thumbnail(src="/images/blank.png", alt="your image")
                    // beatles-one
                    // screen
                .col-md-6.off
                    h2.text-center Select Options

                    .form-group
                        label.control-label.col-sm-4(for="discount") Select Discount
                        .col-sm-5
                            select#discount.form-control(name="discount")
                                option(value="50") 50% OFF
                                option(value="40") 40% OFF
                                option(value="30") 30% OFF
                                option(value="20") 20% OFF
                                option(value="10") 10% OFF
                    // et
                    .form-group
                        label.control-label.col-sm-4(for="user") Select Users
                        .col-sm-5
                            select#userCount.form-control(name="user")
                                option(value="10") 10 Users
                                option(value="8") 8 Users
                                option(value="6") 6 Users
                                option(value="4") 4 Users
                                option(value="2") 2 Users
                    // et
                    .form-group.form-group-lg
                        h2.text-center Preview:
                        .col-sm-offset-2.col-sm-8.span6
                            textarea#preview(rows="3", disabled, style="background: white;") First 10 Users to like/retweet this post get 50% off. Click the link to claim
                    .col-md-12.text-center
                        #FB_post
                            span.post-msg-processing
                                i.fa.fa-check-square Posting to Facebook&nbsp;&nbsp;
                            span.post-msg-success
                                i.fa.fa-check-square Posted to Facebook&nbsp;&nbsp;
                            span.post-msg-fail
                                i.fa.fa-times-circle Failed posting to Facebook&nbsp;&nbsp;
                        #TW_post
                            span.post-msg-processing
                                i.fa.fa-check-square Posting to Twitter&nbsp;&nbsp;
                            span.post-msg-success
                                i.fa.fa-check-square Posted to Twitter&nbsp;&nbsp;
                            span.post-msg-fail
                                i.fa.fa-times-circle Failed posting to Twitter&nbsp;&nbsp;

            .row
                #jude.col-md-12.text-center
                    button.btn.btn-primary.btn-lg(type="button", onclick="post($(this).parent().parent().parent())") Post Promotion
