//
   Created by Sundeep on 1/26/2015.
extends layout

block head
    include ./socialLibraries
    link(href ='/stylesheets/Site.css', rel='stylesheet')
    script(src='/javascripts/MergedMain.js')
    script(src='/javascripts/all.js')
    script(src='/javascripts/poster.js')
    script(src='/javascripts/postCreators.js')
    script(src='/javascripts/Twitter.js')
    script(src='/javascripts/Facebook.js')
    script(src='/javascripts/FourSquare.js')
    script(src='/javascripts/Instagram.js')
    script(src='/javascripts/TwitterMerged.js')
    script(src='/javascripts/FacebookMerged.js')
    script(src='/javascripts/FourSquareMerged.js')
    script(src='/javascripts/InstagramMerged.js')
block content
    #timelines
        .row
            include ./postBar
        //#group
        .row
            br
            .col-md-6
                |Sort by : &nbsp;&nbsp;
                .btn-group(data-toggle="buttons")
                    label.btn.btn-danger
                        input(type="radio" value="network" name="sort-options" autocomplete="off")
                        |Network
                    label.btn.btn-success.active
                        input(type="radio" value="date-created" name="sort-options" autocomplete="off" checked=true)
                        |Date Created

            .col-md-6.text-right
                .btn-group(data-toggle="buttons")
                    label.btn.btn-success.active
                        input.network.fb(type="checkbox" name="network" autocomplete="off" checked=true)
                        |Facebook
                    label.btn.btn-success.active
                        input.network.tw(type="checkbox" name="network" autocomplete="off" checked=true)
                        |Twitter
                    label.btn.btn-success.active
                        input.network.it(type="checkbox" name="network" autocomplete="off" checked=true)
                        |Instagram
                    label.btn.btn-success.active
                        input.network.fs(type="checkbox" name="network" autocomplete="off" checked=true)
                        |Foursquare
                    .btn-group.hidden.Add-Networks
                        a.btn.btn-warning.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            strong +&nbsp;&nbsp;
                            span.caret
                        ul.dropdown-menu(role="menu")
                            li.hidden.fb
                                a.disabled(href="/Social/Facebook") Facebook
                            li.hidden.tw
                                a(href="/Social/Twitter") Twitter
                            li.hidden.it
                                a(href="/Social/Instagram") Instagram
                            li.hidden.fs
                                a(href="/Social/Foursquare") Foursquare
        #group.row.container-fluid