//
   Created by Sundeep on 9/5/2015.

html
   head
      title Clickdaily
      script(src='/lib/jquery/dist/jquery.js')
      link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap-theme.css')
      link(rel='stylesheet', type='text/css', href='/lib/Font-Awesome/css/font-awesome.css')
      link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap.css')
      script(src='/lib/bootstrap/dist/js/bootstrap.js', type='application/javascript')
   body
      .jumbotron
         .row
            .col-md-12(style="color: gray;")
               h1.text-center
                  i.fa.fa-frown-o(style="font-size: 250px;")
               h1.text-center Sorry you have no locations attached.
               p.text-center
                  a(href="/logout") Logout
