//
   Created by Sundeep on 4/7/2015.


script(type="text/javascript" src="/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
link(rel="stylesheet" href="/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css")

#mergedPost.mergedPost
    .row
        .col-md-12
            textarea#postText.message(placeholder='Post to Social Media' rows="2")
            .keywords
    div.row
        .col-md-12
            .pull-left
                label.myLabel
                    input#AttachFile(type='file' accept="image/*")
                    span
                        i.fa.fa-paperclip
                .input-group#datetimepicker1(style="display: inline-table;width: 240px;margin: 2px; vertical-align: top; margin-top: 12px;")
                    input.form-control(type='text' placeholder="Select date to schedule")
                    span.input-group-addon.datepickerbutton
                        span.glyphicon.glyphicon-calendar
                    span.input-group-addon(onclick="$(this).parent().find(\"input\").val(\"\")")
                        span.glyphicon.glyphicon-remove
                .input-group#urlShorten(style="display: inline-table;width: 240px;margin: 2px; vertical-align: top; margin-top: 12px;")
                    input.form-control(type="text" placeholder="Enter link to shorten")
                    span.input-group-addon(onclick="shortUrl($(this).parent().find(\"input\"))") Shorten
                #previewContainer.hidden(style="max-width: 120px;")
                    button.close.pull-right(type='button' onClick='removeImage()' aria-label='Close' style='top: 0px;right: 0px;width: 20px;height: 20px;')
                        span(aria-hidden='true' style='top: 0;') &times;
                    img#preview(style="max-width: 100px;")

                if(!skipButtons)
                    .post-status
                    #FB_post
                        span.post-msg-processing
                            i.fa.fa-check-square Posting to Facebook&nbsp;&nbsp;
                        span.post-msg-success
                            i.fa.fa-check-square Posted to Facebook&nbsp;&nbsp;
                        span.post-msg-fail
                            i.fa.fa-times-circle Failed posting to Facebook&nbsp;&nbsp;
                    #TW_post
                        span.post-msg-processing
                            i.fa.fa-check-square Posting to Twitter&nbsp;&nbsp;
                        span.post-msg-success
                            i.fa.fa-check-square Posted to Twitter&nbsp;&nbsp;
                        span.post-msg-fail
                            i.fa.fa-times-circle Failed posting to Twitter&nbsp;&nbsp;
            .pull-right.network-selections(style='padding:12px 0px 0px 0px')
                label.checkbox-inline
                    input#fb(type='checkbox', value='fb', disabled='disabled')
                    i.fa.fa-facebook(style='font-size:20px;')
                label.checkbox-inline
                    input#tw(type='checkbox', value='tw', disabled='disabled')
                    i.fa.fa-twitter(style='font-size:20px;')
                label.checkbox-inline(style="display:none")
                    input#it(type='checkbox', name='it', disabled='disabled')
                    i.fa.fa-instagram(style='font-size:20px;')
                span.postCount (
                    span.postCount.postCountNumber 0
                    | )
                |&nbsp;&nbsp;&nbsp;
                div.postBarPostButton(style='padding:0px 20px 0px 0px;display: inline-block;')
                    button.btn.btn-info(onclick='postAll()') Post
