//
   Created by Sundeep on 2/27/2015.

html
head
    title Clickdaily, Inc.
    script(src='/lib/jquery/dist/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/layout-menu.css')
    link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/lib/Font-Awesome/css/font-awesome.css')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js', type='application/javascript')
    script(src='/lib/qrcode.js/qrcode.js')
    script(src='/javascripts/redeem.js')
    script.
        $(function(){
            new QRCode(document.getElementById("qrcode"), "#{code}");
        });
body(style='margin:20px')
    #navigation
        #logo
            img(src='/images/Clickdaily-logo_no_background.png', width='130')

    .row.marginTop
        if code
            .col-md-6.text-center
                h1 Enjoy your discount!!
                br
                img.img-rounded(src=src)

            #qr.col-md-6.text-center
                h1 QR Code to Redeem
                br
                #qrcode.img-thumbnail
                h3 You can also use this number #{code}
                input(name='email',type='email', id='email')
                h3
                    a(onClick='email("#{code}")') Email Me
        if err
            .col-md-6.text-center.col-md-offset-3
                h1 #{err}
                if link
                    h2
                        a(href=link) Click here