//
   Created by Sundeep on 3/9/2015.


html
head
    title Clickdaily, Inc.
    script(src='/lib/jquery/dist/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/layout-menu.css')
    link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/lib/Font-Awesome/css/font-awesome.css')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js', type='application/javascript')
    if network
        //script.
            setTimeout(function(){
                window.location.replace("/redeem/#{network}?id=#{code}");
            },5000);
body(style='margin:20px')
    #navigation
        #logo
            img(src='/images/Clickdaily-logo_no_background.png', width='130')
    .page-header.marginTop
        if network == "fb"
            h1 You will be redirected to facebook to verify your like.
        else if network == "tw"
            h1 You will be redirected to twitter to verify your retweet.
        else
            h1 We could not determine which social network you came from. Click one of following to tell us.
            h3
                a(href='/redeem/fb?id=#{code}') Facebook
            h3
                a(href='/redeem/tw?id=#{code}') Twitter

        h3
            a(href='/redeem/#{network}?id=#{code}') Click here if not redirected in 5 seconds.