//
   Created by Sundeep on 1/6/2015.
   http://html2jade.aaron-powell.com/

extends layout

block head

   link(rel='stylesheet', type='text/css', href='/stylesheets/sales.css')

   script(src='/socket.io/socket.io.js', type='application/javascript')

   script(src='/javascripts/sales.js', type='application/javascript')
   script(src='/javascripts/export.js', type='application/javascript')

block content
   include ./update
   #reports
      include ./set_icons
      include ./filter
      include ./sales_update
      // #taxes
   // #report
