//
   Created by Sundeep on 1/6/2015.
   http://html2jade.aaron-powell.com/


if SalesRevenueReport.length
   #sr
      h3 Sales Revenue
      table.table.table-striped.table-hover.tablesorter(width='800')
          thead
              tr
                th
                th Total
          tbody
              tr
                td Net Sales
                td #{SalesRevenueReport[0].NetSales}
              tr
                td Tax Collected
                td #{SalesRevenueReport[0].TaxCollected}
              if SalesRevenueReport[0].CreditCardRefund != '0'
                tr
                   td Credit Card Refund
                   td #{SalesRevenueReport[0].CreditCardRefund}
              tr.success
                td
                   strong Total Revenue Gross
                td
                   strong #{SalesRevenueReport[0].TotalRevenueGross}
              tr
                td Service Charge
                td #{SalesRevenueReport[0].ServiceCharge}
              tr.success
                td
                   strong Total Amount
                td
                   strong #{SalesRevenueReport[0].TotalAmount}
   // #sr
if SalesPaymentReport
   #payment
      h3 Payment
      table.table.table-striped.table-hover.tablesorter(width='800')
         thead
              tr
                th
                th QTY
                th Amount
                th Tips
                th Total
                th Gross%
         tbody
             if SalesPaymentReport.CASH
                tr
                   td #{SalesPaymentReport.CASH.Name}
                   td #{SalesPaymentReport.CASH.QTY}
                   td #{SalesPaymentReport.CASH.Amount}
                   td #{SalesPaymentReport.CASH.Tips}
                   td #{SalesPaymentReport.CASH.Total}
                   td #{SalesPaymentReport.CASH.GrossP}%
             if SalesPaymentReport.CRDB
                tr
                   td #{SalesPaymentReport.CRDB.Name}
                   td #{SalesPaymentReport.CRDB.QTY}
                   td #{SalesPaymentReport.CRDB.Amount}
                   td #{SalesPaymentReport.CRDB.Tips}
                   td #{SalesPaymentReport.CRDB.Total}
                   td #{SalesPaymentReport.CRDB.GrossP}%
             if SalesPaymentReport.TCCP.QTY != '0'
                tr
                   td
                      strong #{SalesPaymentReport.TCCP.Name}
                   td
                      strong #{SalesPaymentReport.TCCP.QTY}
                   td
                      strong #{SalesPaymentReport.TCCP.Amount}
                   td
                      strong #{SalesPaymentReport.TCCP.Tips}
                   td
                      strong #{SalesPaymentReport.TCCP.Total}
                   td
                      strong #{SalesPaymentReport.TCCP.GrossP}%
             if SalesPaymentReport.GFCR
                tr
                   td #{SalesPaymentReport.GFCR.Name}
                   td #{SalesPaymentReport.GFCR.QTY}
                   td #{SalesPaymentReport.GFCR.Amount}
                   td #{SalesPaymentReport.GFCR.Tips}
                   td #{SalesPaymentReport.GFCR.Total}
                   td #{SalesPaymentReport.GFCR.GrossP}%
             if SalesPaymentReport.TOTP.QTY != '0'
                tr
                   td #{SalesPaymentReport.TOTP.Name}
                   td #{SalesPaymentReport.TOTP.QTY}
                   td #{SalesPaymentReport.TOTP.Amount}
                   td #{SalesPaymentReport.TOTP.Tips}
                   td #{SalesPaymentReport.TOTP.Total}
                   td #{SalesPaymentReport.TOTP.GrossP}%
             if SalesPaymentReport.TOTL
                tr
                   td
                      strong #{SalesPaymentReport.TOTL.Name}
                   td
                      strong #{SalesPaymentReport.TOTL.QTY}
                   td
                      strong #{SalesPaymentReport.TOTL.Amount}
                   td
                      strong #{SalesPaymentReport.TOTL.Tips}
                   td
                      strong #{SalesPaymentReport.TOTL.Total}
                   td
                      strong #{SalesPaymentReport.TOTL.GrossP}%
             if SalesPaymentReport.CASI.QTY != '0'
                tr
                   td #{SalesPaymentReport.CASI.Name}
                   td #{SalesPaymentReport.CASI.QTY}
                   td #{SalesPaymentReport.CASI.Amount}
                   td #{SalesPaymentReport.CASI.Tips}
                   td #{SalesPaymentReport.CASI.Total}
                   td #{SalesPaymentReport.CASI.GrossP}%
             if SalesPaymentReport.CASO.QTY != '0'
                tr
                   td #{SalesPaymentReport.CASO.Name}
                   td #{SalesPaymentReport.CASO.QTY}
                   td #{SalesPaymentReport.CASO.Amount}
                   td #{SalesPaymentReport.CASO.Tips}
                   td #{SalesPaymentReport.CASO.Total}
                   td #{SalesPaymentReport.CASO.GrossP}%
             if SalesPaymentReport.CASD.QTY != '0'
                tr
                   td #{SalesPaymentReport.CASD.Name}
                   td 0
                   td #{SalesPaymentReport.CASD.Amount}
                   td #{SalesPaymentReport.CASD.Tips}
                   td #{SalesPaymentReport.CASD.Total}
                   td #{SalesPaymentReport.CASD.GrossP}%
   // #payment
if SalesTaxReport
#taxes
   h3 Tax
   table.table.table-striped.table-hover.tablesorter(width='800')
       thead
          tr
             th
             th QTY
             th Gross
             th Tax
             th Net
             th % Gross
       tbody
          if ((SalesTaxReport.Excluded) && (SalesTaxReport.Excluded.QTY != "0"))
             tr
                td #{SalesTaxReport.Excluded.Name}
                td #{SalesTaxReport.Excluded.QTY}
                td #{SalesTaxReport.Excluded.Gross}
                td #{SalesTaxReport.Excluded.Tax}
                td #{SalesTaxReport.Excluded.Net}
                td #{SalesTaxReport.Excluded.GrossPercent}%
          if ((SalesTaxReport.Included) && (SalesTaxReport.Included.QTY != "0"))
             tr
                td #{SalesTaxReport.Included.Name}
                td #{SalesTaxReport.Included.QTY}
                td #{SalesTaxReport.Included.Gross}
                td #{SalesTaxReport.Included.Tax}
                td #{SalesTaxReport.Included.Net}
                td #{SalesTaxReport.Included.GrossPercent}%
          if ((SalesTaxReport.Exempt) && (SalesTaxReport.Exempt.QTY != "0"))
             tr
                td #{SalesTaxReport.Exempt.Name}
                td #{SalesTaxReport.Exempt.QTY}
                td #{SalesTaxReport.Exempt.Gross}
                td #{SalesTaxReport.Exempt.Tax}
                td #{SalesTaxReport.Exempt.Net}
                td #{SalesTaxReport.Exempt.GrossPercent}%
          if SalesTaxReport.Total
             tr
                td
                   strong #{SalesTaxReport.Total.Name}
                td
                   strong #{SalesTaxReport.Total.QTY}
                td
                   strong #{SalesTaxReport.Total.Gross}
                td
                   strong #{SalesTaxReport.Total.Tax}
                td
                   strong #{SalesTaxReport.Total.Net}
                td
                   strong #{SalesTaxReport.Total.GrossPercent}%
// #taxes
