//
   Created by Sundeep on 2/10/2015.
#set
    h2 #{title}
    a.excelPrint(href='#')
        img(src='/images/excel.png')
    a.pdfPrint(href='#')
        img(src='/images/acrobat.png')
    a.txtPrint(href='#')
        img(src='/images/copy.png')
    a.print(href='#')
        img(src='/images/print.png')
    a.email(href='#')
        img(src='/images/email.png')
// end of #set