//
   Created by Sundeep on 3/23/2015.

extends layout
block content
        form.form-horizontal(method='POST', action='/Settings/removeLogo' onerror="alert('Failed to Remove')")
            .row
                .col-md-12
                    h2.text-center Current Logo
                    br
                    .text-center
                        h3(style="display:none") No Logo
                        img(src='/logos/#{layoutObject.location.selected}' style="max-width:80vw" alt="No Logo" onerror="$(this).parent().find('h3').show().parent().find('button').hide();$(this).hide();")
                        br
                        br
                        button#submit.btn.btn-danger(type="submit") Remove Logo
                    br
        form.form-horizontal(method='POST', action='/Settings/addLogo', enctype="multipart/form-data" onerror="alert('Failed to Upload')")
            .row
                .col-md-12
                    h2.text-center Upload Logo
                    br
            .row
                .col-md-offset-3.col-md-6
                    .form-group
                        label.col-sm-2.control-label(for="logoUpload") Upload Logo*
                        .col-sm-10
                            input#logoUpload.form-control( name="logoUpload", type="file", required, accept="image/*")
                .col-md-offset-3.col-md-6.text-center
                        a#back.btn.btn-primary(type="button" href="javascript:history.back()") Back
                        | &nbsp;&nbsp;&nbsp;
                        button#submit.btn.btn-primary(type="submit") Upload