//
   Created by Sundeep on 3/23/2015.

extends layout
block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/resetPass.css')
    link(rel='stylesheet', type='text/css', href='/lib/strength.js/src/strength.css')
    script(src='/lib/strength.js/src/strength.js')
    script.
        $(function () {
            $("#newpass").strength();
        });
block content
    #resetPass
        include ./set_icons
        br
        br
        br

        form.form-horizontal(method='POST' action='/Settings/ResetPassword')
            .row
                if first
                    .col-md-offset-3.col-md-6
                        h3.firstWarn.text-warning.text-center.bg-warning We highly recommend you change your temporary password
                        br
                if err
                    .col-md-offset-3.col-md-6
                        h3.firstWarn.text-error.text-center.bg-error #{err}
                        br
                if done
                    .col-md-offset-3.col-md-6
                        h3.firstWarn.text-success.text-center.bg-success Saved
                        br
                .col-md-offset-3.col-md-6
                    .form-group
                        label.col-sm-2.control-label(for="oldpass") Old Password*
                        .col-sm-10
                            input#oldpass.form-control( name="oldpass", type="password", required)
                    .form-group
                        label.col-sm-2.control-label(for="newpass") New Password*
                        .col-sm-10
                            input#newpass.form-control( name="newpass", type="password", required)
                    .form-group
                        label.col-sm-2.control-label(for="confirmpass") Confirm Password*
                        .col-sm-10
                            input#confirmpass.form-control( name="confirmpass", type="password", required)
                .row
                    .col-md-offset-3.col-md-6.text-center
                        .col-sm-10.col-sm-offset-2
                            if !first
                                button#back.btn.btn-primary(type="button") Back
                                | &nbsp;&nbsp;&nbsp;
                            button#submit.btn.btn-primary(type="submit") Change