//
                   Created by Sundeep on 6/3/2015.

extends layout
block head
   include ./socialLibraries
   script(src = '/javascripts/urls.js')
block content
   .row
      .col-md-12
         h1.text-center Manage Short URLs
   br
   .row
      table.table-striped.table
         thead
            tr
               th #
               th URL
               th Hash
               th Number Clicks
               th
         tbody