//
   Created by Sundeep on 4/7/2015.

extends layout
block head
    include ./socialLibraries
    link(href  = '/stylesheets/socialSchedule.css', rel='stylesheet')
    link(href  = '/lib/fullcalendar/dist/fullcalendar.css', rel='stylesheet')
    script(src = '/lib/fullcalendar/dist/fullcalendar.js')
    script(src = '/lib/query-string/query-string.js')
    script(src = '/javascripts/Facebook.js')
    script(src = '/javascripts/Twitter.js')
    script(src = '/javascripts/Instagram.js')
    script(src = '/javascripts/postSchedule.js')
    script(src = '/javascripts/poster.js')
    script(src = '/javascripts/postCreators.js')
    style.
        .fc-ltr .fc-time-grid .fc-event-container {
            margin: 0 10% 0 10%;
        }
block content
    .row.ClonePostBar(style="display:none;")
        include ./postBar
    .row
        #calendar
