//
   Created by Sundeep on 4/13/2015.

link(href  = '/lib/Font-Awesome/css/font-awesome.css', rel='stylesheet')
link(href  = '/stylesheets/postbar.css', rel='stylesheet')
script(src = "/lib/video.js/dist/video-js/video.js")
link(href  = "/lib/video.js/dist/video-js/video-js.css", rel='stylesheet')
script(src = '/lib/moment/min/moment.min.js')
script(src = '/lib/jQuery-linkify/dist/jquery.linkify.js')
script(src = '/javascripts/shorten.js')
script(src = '/lib/moment-timezone/builds/moment-timezone.min.js')
script(src = "/lib/twemoji/twemoji.min.js")
//script(src = "/lib/shufflejs/dist/jquery.shuffle.js")
script(src = "/lib/shufflejs/dist/jquery.shuffle.modernizr.js")
script(src = "/lib/imagesloaded/imagesloaded.pkgd.js")

script(src = "/lib/node-uuid/uuid.js")

script(src = '/socket.io/socket.io.js', type='application/javascript')
script(src='/javascripts/socket.io-stream.js', type='application/javascript')
script(src = '/javascripts/userInfo.js')
link(href  = "/stylesheets/overrides.css", rel='stylesheet')