//
   Created by Sundeep on 5/7/2015.

extends layout

block head
    include ./socialLibraries
    script(src="/lib/d3/d3.js" charset="utf-8")
    script(src="/javascripts/statistics.js")
    link(href="/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet")
    script(src="/lib/bootstrap-switch/dist/js/bootstrap-switch.js")
    link(rel="stylesheet" href="/stylesheets/statistics.css")
block content
    .row
        .col-md-12#head
            h2 Analytics for Social Media
    #theater.row
        .col-md-3.col-sm-12
            #col-left.row
                .col-md-12
                    #locationLogo.text-center
                        img.img-responsive(src='/logos/#{layoutObject.location.selected}' onerror="$('#locationLogo').hide();$('#noLogo').show()")
                    h1.text-center#noLogo(style="display:none;") No Logo
                .col-md-12
                    .text-center
                        h3#updateText Last Updated Yesterday
                .col-md-12.separator
                .col-md-12.separator
                .col-md-12
                    .text-center
                        input(type="checkbox" name="network-select" value="twitter" checked=true)
                .col-md-12.separator
                .col-md-12.separator
                .col-md-12
                    .text-center
                        input(type="checkbox" name="time-select" value="month" checked=true)
        .col-md-9.col-sm-12
            #col-right.row
                .col-md-12
                    #stats
                        .row
                            for val in blocks
                                .col-md-12
                                    .stat-box.panel.panel-primary
                                        .panel-heading
                                            i(class="fa fa-2x #{val.class}")
                                            | &nbsp;&nbsp;#{val.name}
                                        .panel-body
                                            .row
                                                .col-md-12.text-center
                                                    span.number(id="#{val.numberId}") 0
                                            .row
                                                .col-md-12.separator
                                            .row
                                                .col-md-12.text-center
                                                    span.text
                                                        | Total #{val.name} From Last&nbsp;
                                                        span.StatCount 30
                                                        | &nbsp;days
                                            .row
                                                .col-md-12.separator
                                            .row
                                                .col-md-12.separator
                                            .row
                                                .col-md-12
                                                    .graph(id="#{val.graphId}")
                                                        .text-center(style="width:100%;margin-top: 80px;")
                                                            h1 Loading ...