//
   Created by Sundeep on 5/18/2015.

extends layout
block head
    include ./socialLibraries
    script(src="/lib/OpenLayers/ol-debug.js" type="text/javascript")
    link(rel="stylesheet" href="/lib/OpenLayers/ol.css" type="text/css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/socialmedia.css")
    script(type="text/javascript" src="/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
    link(rel="stylesheet" href="/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css")
    link(href  = '/stylesheets/postbar.css', rel='stylesheet')
    link(href  = '/stylesheets/Site.css', rel='stylesheet')
    link(href  = '/stylesheets/suggestions.css', rel='stylesheet')
    script(src = '/javascripts/poster.js')
    script(src = '/javascripts/Facebook.js')
    script(src = '/javascripts/Twitter.js')
    script(src = '/javascripts/postSuggestionsCreators.js')
    script(src = '/javascripts/suggestions.js')


block content
    //include ./postBar
    //br
    //br
    .row
        #map.map(style="height:200px")
    br
    .row
        .col-md-3.form-inline
            .form-group.col-md-10(style="margin-top: 6px;")
                    input(type="text" placeholder="Add Keywords to look for" style="width:95%")
            button.btn.btn-success(type="button" onclick="addkeyword($(this))") Add
        .col-md-6.col-md-offset-3
            .pull-right
                input.miles(type="number" , min="0", step="0.1" value ="10")
                | &nbsp;Miles

    .row
        .col-md-12.text-center
            h1.text-center Your Potential Customers
    .row.outerContain
        #suggestions
            //#contain_food.col-4
                .row
                    .col-md-10
                        h1(style="margin: 10px 0px 10px 0px;") Food
                    .col-md-2
                        button(type='button' class='close' aria-label='Close' onclick='removeKeyword($(this))' data-keyword='food')
                            span(aria-hidden='true') &times;
                .row.text-center
                    .col-md-12.stats
                        .col-md-2.hour
                            strong Last Hour
                        .col-md-2.day
                            strong Last Day
                        .col-md-2.week
                            strong Last Week
                        .col-md-2.month
                            strong Last Month
                        .col-md-2.year
                            strong Last Year
                        .col-md-2.century
                            strong Last Century
                    br
                .row.text-center
                    .col-md-12.stats
                        .col-md-2.hour.number 00
                        .col-md-2.day.number 00
                        .col-md-2.week.number 00
                        .col-md-2.month.number 00
                        .col-md-2.year.number 00
                        .col-md-2.century.number 00
                    br
                .row
                    .col-md-12.text-center
                        button.btn.btn-success(type='button' onclick="followSelected(\"food\")") Follow Selected
                        |&nbsp;&nbsp;
                        button.btn.btn-info(type='button' onclick="$(this).parent().parent().find(\"#replyBox\").show()") Reply Selected
                        |&nbsp;&nbsp;
                        button#sel_food.btn.btn-info.selectAll Select All
                            .pull-right.specialAll.squaredTwo
                                input(type='checkbox')
                                label(for='squaredTwo')
                    #replyBox.col-md-12(style='display:none;')
                        br
                        .form-group.col-md-8
                            input.form-control(type="text" placeholder="Your Reply Here...")
                        button.btn.btn-success(type='button' onclick="replySelected(\"food\")") Send
                        |&nbsp;&nbsp;
                        button.btn.btn-default(type='button' onclick="$(this).parent().hide()") Cancel
                        br
                .row
                    .col-md-12
                        #food