//
   Created by Sundeep on 5/5/2015.

extends layout
block head
block content
    .row.text-center
        h2 Write your issue here and we will get back to you in few hours.
    br
    br
    .row.text-center
        .col-md-offset-3.col-md-6
            if msg != ""
                h2.bg-success Sent!
            if err != ""
                h2.bg-danger Error, Try Again!
    br
    .row
        .col-md-10.col-md-offset-1
            form(action='/support/email' method="POST")
                .form-group
                    label(for="subject") Subject
                    input#subject.form-control(type="text" placeholder="Enter Subject..." name="subject")
                .form-group
                    label(for="Message") Message
                    textarea#Message.form-control(type="text" name="message" placeholder="Enter Message..." rows="10")
                button.btn.btn-primary(type="submit") Submit

