/*

    Poster New

*/
.row.nomargin{
    margin:0px!important;
}

.row.banner {
    margin-bottom: 10px;
    margin-top: -10px;
    margin-right: -25px;
    margin-left: -25px;
}

img.post-pic{
    border-radius: 6px 6px 0px 0px;
}

a.post-pic {
    display: block;
    height: 125px;
    border-radius: 6px 6px 0px 0px;
}

a.post-pic.TW {
    background: rgb(59, 148, 217);
}

a.post-pic.IT {
    background: rgb(171, 130, 101);
}

.network-type{
    top:0px;
    position: relative;
    float: right;
    font-size: 20px;
    height: 20px;
}

.FB .network-type i{
    color: rgb(60, 87, 146);
}

.TW .network-type i{
    color:rgb(85, 172, 238);
}

.IT .network-type img{
    max-height: 100%;
    display: inline-block;
}

.network-type i.fa-expand{
    color : #7B7B7B;
}

.FS .network-type i{
    color:#F94977;
}

h4.content {
    font-size: 14px;
    word-wrap: break-word;
    font-weight: bold;
    color: #808080 ;
}
.profile-pic{
    width: 64px;
    height: 64px;
    display: block;
}

.profile-pic img{
    max-height: 100%;
    max-width: 100%;
}

.footer {
    vertical-align: middle;
}

.like-number, .comment-number {
    font-size: 12px;
}

.like-info {
    font-size: 10px;
    color: #7B7B7B;
}

.link-caption{
    font-size: 12px;
    color: #7B7B7B;
}

.follows {
    font-size: 14px;
    color: green;
}


.time {
    margin-top: 10px ;
    font-size: 12px;
}


.post {
    padding:10px;
    box-shadow: 2px 2px 7px #888888;
    margin: 10px 0px 10px 0px;
    border-radius: 6px 6px 0px 0px;
}

.header{
    padding: 0px 0px 10px 10px;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.row.follow{
    margin-right: 5px;
}





.follow.btn {
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    font-weight: bold;
    background-image: linear-gradient(#fff,#f5f8fa);
    color: #292f33;
    font-size: 13px;
    padding: 3px 11px;
    vertical-align: middle;
    border-radius: 4px;
}

.following.btn {
    font-weight: bold;
    font-size: 13px;
    padding: 3px 11px;
    vertical-align: middle;
    border-radius: 4px;
}

.follow.btn .fa{
    color:rgb(85, 172, 238);
}