#merchant {
  width:1000px;
  height:40px;
  background-color:#d7ecfe;
}

#merchant h2 {
  position:relative;
  top:8px;
  margin-left:10px;
  font-family:'Segoe UI';;
}

.business {

  margin-left:15px;
  margin-top:20px;
  height:550px;
}

#business-icon {
  background-color:#f9f9f9;
  width:980px;
  height:80px;

  display:inline-block;
}

#general {
  width:315px;
  height:300px;
  float:left;
}

#general-li, #permission-one {
  width:315px;
  height:200px;
  float:left;
}

#general-employee-info {
  width:315px;
  height:250px;
  float:left;
}

#address {
  width:315px;
  height:300px;
  float:left;
  margin-left:5px;
}

#address-li, #permission-in {
  width:315px;
  height:200px;
  float:left;
  margin-left:5px;
}

#address-employee-info {
  width:315px;
  height:250px;
  float:left;
  margin-left:5px;
}

#contact-info {
  width:315px;
  height:300px;
  float:left;
  margin-left:5px;
}

#contact-info-li, #permission-pm {
  margin-top:50px;
  width:315px;
  height:100px;
  float:left;
  margin-left:5px;
}

#contact-info-employee-info {
  width:315px;
  height:200px;
  float:left;
  margin-left:5px;
}

#dba, #add, #phone { border:1px solid white;}

#mt, #mg, #smg, #mt, #ct, #tz, #bws, #bds{
  border:1px solid white;
  margin-top:10px;
}

#dba span, #mg span, #smg span, #mt span , #ct span, #tz span, #bws span, #bds span {
  margin-left:10px;
  font-size:13px;
}

.dba, .mg, .smg, .mt, .ct, .tz, .bws, .bds {
  float:right;
  margin-right:40px;
}

#add-two, #add-three, #city, #zip, #cnty {
  border:1px solid white;
  margin-top:10px;
}

#add span, #add-two span, #add-three span, #city span, #zip span, #cnty span {
  margin-left:10px;
  font-size:13px;
}

.add, .add-two, .add-three, .city, .zip, .cnty {
  float:right;
  margin-right:40px;
}

#alt-phone, #fax, #web, #name, #name-phone, #name-alt, #email, #email-one {
  border:1px solid white;
  margin-top:10px;
}

#phone span, #alt-phone span, #fax span, #email-one, #web span, #name span, #name-phone span, #name-alt span, #email span {
  margin-left:10px;
  font-size:13px;
}

.phone, .alt-phone, .fax, .web, .name, .name-phone, .name-alt, .email, .email-one {
  float:right;
  margin-right:40px;
}

#email-one {
  margin-top:30px;
}

#hop  {
  margin-left:160px;
}

#hop td {
  font-size:10px;
  text-align:center;
  width:960px;
  margin:0;
}

#open, #close{
  width:960px;
  margin-left:180px;
}

.open {
  margin-left:20px;
  width:50px;
  height:8px;
}

.close {
  margin-left:20px;
  width:50px;
  height:8px;

}

.close-one, .open-one {
  margin-left:40px;
  width:50px;
  height:8px;
}

#open span, #close span {
  font-size:10px;
}

#whole {
  margin-top:20px;
  width:960px;
  height:100px;

  border-bottom:1px solid #ccc;
  float:left;
}

#whole-one {
  width:960px;
  height:50px;
  border-bottom:1px solid #ccc;
  float:left;
}

#whole-two {
  width:960px;
  height:10px;
  border-bottom:1px solid #ccc;
  float:left;

}

#macchiato {
  width:1000px;
  text-align: center;
}

.cancel, .next, .previous{
  margin: 20px 10px 0px 10px;
  width:100px;
  height:20px;
  background-color:#44a6fb;
  color:white;
  border:none;
}

#business-info {
  width:175px;
  height:78px;
  background-color:#155687;
  float:left;
  display:inline-block;
}

#business-info-done {
  width:175px;
  height:78px;
  background-color:#3FA4FF;
  float:left;
  display:inline-block;
}

.number {
  color:#3FA4FF;
  font-size:70px;
  float:left;
  margin-left:5px;
}

.number-one {
  color:white;
  font-size:70px;
  float:left;
  margin-left:10px;
}

.title {
  color:white;
  font-family:'Segoe UI';
  font-size:18px;
  position:relative;
  top:30px;
  left:5px;
  float:left;
}

.chevron {
  margin-left:175px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #155687;
  border-width: 39px 0 39px 23px;
}

.chevron-one {
  margin-left:175px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #ededed;
  border-width: 39px 0 39px 23px;
}

.chevron-left {
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #f9f9f9;
  border-width: 39px 0 39px 23px;
  float:left;
}

.chevron-done {
  margin-left:175px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #3FA4FF;
  border-width: 39px 0 39px 23px;
}

#legal-info, #billing-info, #owner-info, #pos-info {
  margin-left:25px;
  width:175px;
  height:78px;
  background-color:#ededed;
  float:left;
}

#legal-info-active {
  margin-left:25px;
  width:175px;
  height:78px;
  background-color:#155687;
  float:left;
}

#legal-info-done {
  margin-left:25px;
  width:175px;
  height:78px;
  background-color:#3FA4FF;
  float:left;
}

#billing-info-active {
  margin-left:25px;
  width:175px;
  height:78px;
  background-color:#155687;
  float:left;
}

#corporate-name {
  border:1px solid blue;
}

#ln { border:1px solid white;}

#et, #sof ,#fti, #corporate-name, #phone-one{
  border:1px solid white;
  margin-top:10px;
}

#ln span, #et span , #sof span, #fti span, #corporate-name span, #phone-one span {
  margin-left:10px;
  font-size:13px;
}

.ln, .et, .sof, .fti, .corporate-name, .phone-one {
  float:right;
  margin-right:40px;
}

#down-btn {
  margin-top:50px;
  width:1000px;
  text-align: center;
  float:left;
}

#down-btn-one {
  width:980px;
  text-align: center;
  float:left;
}

.prefix, .gender, .status, .dob {
  width:123px;
}

#prefix, #cname, #user { border:1px solid white;}

#fn,#prefix, #username, #mn, #lname, #gender , #status, #dob, #relationship, #tem, #send, #text, #print {
  border:1px solid white;
  margin-top:10px;
  height: 20px;
}

#username span, #user span, #tem span, #prefix span, #fn span, #mn span, #lname span, #gender span, #status span, #dob span, #cname span, #relationship span, #send span, #text span, #print span {
  margin-left:10px;
  font-size:13px;
  float: left;
  display: inline-block;
}

.prefix, .fn, .mn, .lname, .gender, .status, .dob, .cname, .relationship, .user, .tem, .send, .text, .print, .username{
  float:right;
  margin-right:40px;
  display: inline-block;
}

h3{
  font-size:15px;
  text-align: center;
}


#general-employee {
  margin-top:30px;
  width:300px;
  margin-left:370px;
  height:250px;
}

#employee-verify {
  margin-top:30px;
  width:350px;
  margin-left:332px;
  height:170px;
}

#employee-list {
  margin-top:30px;
  margin-left: 100px;
  width:900px;
  min-height:170px;

}
