.Notification{
    display: block;
    position: relative;
    top: 20px;
    float: right;
    right: -40px;
    border: solid;
    width: 40px;
    text-align: center;

    color: white;
    border-radius: 0px 10px 10px 0px;
    z-index: 1;
}

.Notification:hover{
    color:#F0F0F0;
}

.readNotification{
    background: #808080;
    border-color: #808080;
}

.urgentNotification{
    background: #ff0000;
    border-color: #ff0000;
}

.unreadNotification{
    background: rgb(221, 160, 0);
    border-color: rgb(221, 160, 0);
}

.counts{
    font-size: 16px;
}

.unread {
    color: rgb(221, 160, 0);
}

.read {
    color: green;
}

.urgent {
    color: red;
}

.follow.btn {
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    font-weight: bold;
    background-image: linear-gradient(#fff,#f5f8fa);
    color: #292f33;
    font-size: 13px;
    padding: 3px 11px;
    vertical-align: middle;
    border-radius: 4px;
}

.follow.btn .fa{
    color:rgb(85, 172, 238);
}

.following.btn {
    font-weight: bold;
    font-size: 13px;
    padding: 3px 11px;
    vertical-align: middle;
    border-radius: 4px;
}


.repliesDialog.bootstrap-dialog .modal-content{
    border-radius: 12px;
}

.repliesDialog.bootstrap-dialog .modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #44a6fb;
}

#locationLogo {
    padding-top: 4px;
    height: 135px;
}

#locationLogo img {
    max-height: 100%;
    max-width: 100%;
}

i.timeline-logo{
    font-size:32px;
}