/*Layout-menu*/
/*@import "../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/_css3";*/
/*

.alert.alert-danger {
    width: 100%;
    text-align: center;
    background: coral;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 13px;
    margin: 10px;
    padding: 10px;
}
*/

.marginTop {
    margin-top: 60px;
}

.page-header.marginTop{
    margin-top:  100px!important;
}
#container {
    /*border:1px solid black;
    width: 100%;
    height:570px;*/
    float:left;
    margin-left: 40px;
    padding-left: 40px;
    padding-top: 10px;
    /*margin-top: 60px;*/
}

#menu {
    -ms-opacity: 0.95;
    opacity: 0.95;
}

.rest{
    margin-top: 60px;
    margin-left: 0px!important;
    margin-right:0px!important; ;
}

#navigation {
    border-bottom: 5px solid #44a6fb;
    width: 100%;
    height: 60px;
    display: block;
    background: #ffffff;
    z-index: 10;
    position: fixed;
    top:0px;
}

#logo {
    position: relative;
    top: 5px;
    width: 130px;
    float: left;
}

#right-information {
    float: right;
    font-size: 19px;
    position: relative;
    top: 14px;
    color: #44A6FB;
    font-family: 'Segoe UI';
}

#right-information select {
    margin-left: 10px;
    margin-right: 10px;
}

#google_translate_element {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
#left-nav{
    width: 257px;
    position: absolute;
}
.no-gutter {
    padding-right:0;
    padding-left:0;
}

#left-panel {
    display: inline-block;
    width : 63px;
    height: 100%;
    /*border:1px solid red;*/
    overflow: hidden;
    float: left;
    color: #333;
    background-color: #e7edf3;
    padding: 10px;
    z-index: 10;
    position: fixed;
    left:0px;
    top : 60px;
}


#left-panel .item {
    width: 190px;
    height: 60px;
    vertical-align: middle;
    display: block;
    border-radius: 5px;
   /* position:static;
    padding:0;
    margin-bottom:0;
    background-color:rgba(0, 0, 0, 0);
    border:0px none rgb(85, 85, 85);*/
}

#left-panel .item:hover {
    opacity: 1;
    background: #d5e1ed;
}

#left-panel .item .nav-icon {
    display: inline-block;
    float: left;
    padding-top: 16px;
}

#left-panel .item img {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    width: 32px;
    opacity: 0.53;
}

.option-name {
    text-align: center;
    display: inline-block;
    line-height: 32px;
    margin-left: 20px;
    text-decoration: none;
    padding-top: 17px;
}

#second-level {
    display: inline-block;
    float: right;
    width: 193px;
    height: 100%;
    top : 60px;
    position: fixed;
    background-color: #F7F9FB;
    border: 1px solid #d5e1ed;
    z-index: 0;
    left: 63px;
}

#second-level .list-group-item-transparent {
    background-color: transparent;
}

table.tablesorter thead tr .header {
    background-image: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../images/desc.gif);
}

#set {
    width: inherit;
    height: 40px;
    background-color: #d7ecfe;
    display: inline-block;
}

#set h2 {
    margin: 8px;
    float: left;
}

#set img {
    margin: 12px;
    float: left;
}

/* Overlay  and Viewer*/

.overlay{
    position:fixed;
    left:0px;
    top:0px;
    z-index:100;
    background:black;
    opacity:0.5;
    display:none;
}

.viewer{
    position:absolute;
    background:white;
    opacity:1;
    z-index:101;
    margin-top: 5%;
    margin-left:25%;
    margin-right:25%;
    display:none;
    overflow-y:auto;
    overflow-x:hidden;
}

#alert-box {
    position    : relative;
    background  : white;
    opacity     : 1;
    z-index     : 101;
    margin      : auto;
    display     : none;
    height      : 175px;
    width       : 400px;
}

#loading {
    position: fixed;
    background: #000000;
    opacity: 0.5;
    z-index: 30;
}

.board {
    position: absolute;
    top:50%;
    left:50%;
    width:250px;
}