/*Layout-menu*/
/*@import "../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/_css3";*/

body{
  margin: 0px;
}

.alert.alert-danger {
  width: 100%;
  text-align: center;
  background: coral;
  color: white;
  font-weight: bold;
  font-size: large;
  border-radius: 13px;
  margin: 10px;
  padding: 10px;
}

#container {
  /*border:1px solid black;*/
  width:100%;
 /* height:570px;*/
  margin-left: 250px;
  padding-left: 40px;
  padding-top: 10px;
}

#navigation{
  border-bottom: 5px solid #44a6fb;
  width:100%;
  height:60px;
  display:block;
}

#logo{
  position: relative;
  top:5px;
  width:300px;
  float:left;
}

#right-information{
  /*border:1px solid red;*/
  width:480px;
  float:right;
  font-size:19px;
  position:relative;
  top:14px;
  color:#085394;
  font-family:'Segoe UI';
}

#right-information select{
  margin-left: 10px;
  margin-right: 10px;
}

#google_translate_element{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#left-panel{
  width:72px;
  height:110vh;
  /*border:1px solid red;*/
  overflow: hidden;
  float:left;
  color:#333;
  background-color:#e7edf3;
  transition:background-color 1s;
  -webkit-transition:background-color 1s;
  -moz-transition:background-color 1s;
  -ms-transition:background-color 1s;
  -o-transition:background-color 1s;
  padding:10px;


}

#left-panel:hover{
  width: 205px;

}


#left-panel .item {
  width: 190px;
  height: 60px;
  vertical-align:middle;
  display: block;
  border-radius: 5px;
}

#left-panel .item:hover {
  opacity: 1;
  background: #d5e1ed;
}

#left-panel .item .nav-icon{
  display: inline-block;
  float: left;
  padding-top: 16px;
}

#left-panel .item img {
  display:inline-block;
  margin-left:10px;
  cursor: pointer;
  width: 32px;
  opacity: 0.53;

}

.option-name {
  text-align:center;
  display:inline-block;
  line-height:32px;
  margin-left:20px;
  text-decoration:none;
  padding-top: 17px;
}

#second-level {
  /*border:1px solid red;*/
  width:185px;
  height:110vh;
  position:absolute;
  left:70px;
  background-color: #F7F9FB;
  z-index:-1;
  border: 1px solid #d5e1ed;

}
#second-level .list-group-item-transparent {
  background-color: transparent;
}

table.tablesorter thead tr .header {
  background-image: url(../images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
  background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../images/desc.gif);
}

