/*logbook*/

* {
	font-family: helvetica;
}

#main {
	width:100%;
	height:38px;
	background-color:#3fa4ff;
	display:inline-block;
}

#main h3 {
	margin-top:10px;
	font-size: 20px;
	margin-left:10px;
	float:left;
	color:white;
}


.location-lb {
	width:210px;
	height:20px;
	float:right;
	font-size:16px;
	margin-left:20px;
	margin-top:3px;
}

#today {
    width:90%;
	margin-top: 20px;
    /*height:30px;*/
}

.logbook-cell{
    border: solid 1px gray;
    padding: 0px;
    margin: 0px;
}

.logbook-cell h3{
    background-color: #eeeeee;
    width: 100%;
	font-size:16px;
	padding:5px;
    margin: 0px 0px 10px 0px;

}

#logbook-screen {
	border: 1px solid gray;

}

#logbook-screen-one {
	margin-top: 20px;
	width:1000px;
	height:2100px;
}



#logbook-screen {
	margin-top: 30px;
}


#dates {
	width:300px;
	float:left;
    font-size: 18px;
    margin-bottom: 10px;
}

#dates input{
    width:200px;
    border: none;
    vertical-align: middle;
}
.number {
	/*margin-top:50px;*/
	text-align: center;
	font-size:35px;
	color:#3fa4ff;
	font-weight: bold;
}

.description {
	/*width:249px;*/
	text-align: center;
	font-size: 15px;
	color:gray;
}

.ui-widget-header{
    color : #000!important;
}

.ui-datepicker{
    z-index: 3!important;
}