
body {
    font-size: 12px;
}

#loyalty {
    width: 1200px;
    float: left;
    margin: 0 auto;
}


table {
    /* border:1px solid black;*/
}

h1 {
    color: #606060;
    font-family: 'Segoe UI';
}

h2 {
    color: #606060;
    font-family: 'Segoe UI';
    font-size: 21px;
}

h3 {
    font-family: 'Segoe UI';
    font-size: 16px;
}

#taxes {
    margin: 0 auto;
}

#box {
    margin-top: 20px;
    width: inherit;
    height: 85px;
    padding-top: 10px;
    background-color: #d7ecfe;
}

.filterItem {
    margin: 20px;
    float: left;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    text-align: center;
}

.filterItem input {
    margin-left: 10px;
    line-height: 20PX;
}

.filterItem select {
    margin-left: 10px;
}

#button-one {
    display: none;
    width: 80px;
    background-color: #44a6fb;
}

#button-one a {
    margin: 15px;
    text-decoration: none;
    color: white;
    font-family: helvetica;
    font-size: 19px;
}

/*loyalty.css*/

.image {

    width:350px;
    height:350px;
    margin: auto;
    margin-top:50px;
}

#previewImage{
    max-height: 350px;
    max-width: 350px;
}

.screen {
    border-right:1px solid gray;
    margin-top:20px;
    margin-bottom: 20px;
}


#fifty span, #forty span {
    margin-left:0px;
    font-size:15px
}

.fifty, .forty{
    float:right;
    margin-right:0px;
}

.off{
    margin-top: 20px;
}

.off h2{
    margin-bottom: 20px;
}

.off textarea{
    width: 100%;
    font-size: large;
    color : #464F77;
}
#beatles-one {
    width:500px;
    height:350px;
    float:left;
}

#beatles-two {
    width:500px;
    height:350px;
    float:left;
}

#beatles-two span {
    float:left;
}

#jude {
    border-top:1px solid gray;
    padding-top: 20px;
}

.post {
    margin-top:20px;
    width:100px;
    height:30px;
    background-color:#3fa4ff;
    color:white;
    border:none;
}

#tools {
    margin-top: 20px;
    width:250px;
    height:100px;
    margin-left: 100px;
}


#views-screen {

    width:300px;
    height:500px;
    float:left;
}

#views-screen-one {
    margin-top: 20px;
    width:510px;
    height:2100px;
    border:1px solid gray;
    float:left;
}

#likes {
    width:250px;
    height:30px;
    background-color:#3a589b;

}

#likes h3, #tweets h3 {
    position:relative;
    top:5px;
    color:white;
    font-size:18px;
}

#tweets {
    margin-top:20px;
    width:250px;
    height:30px;
    background-color:#598dca;

}

#grape {
    width:508px;
    height:	40px;
    background-color:#3fa4ff;
    margin-top:0px;

}

#grape h3 {
    margin-top:0px;
    position:relative;
    top:10px;
    font-size:18px;
    color:white;
}

#facebook-post, #twitter-post {
    width:508px;
    height:315px;
    border-bottom:1px solid gray;
    float:left;
}

.amount {
    width:180px;
    height:20px;
    background-color:white;
    color:black;
    margin-left:10px;
}

table {
    border:1px solid gray;
    width:300px;
}

#mytable {
    width:250px;
}

.profile-img {
    width:50px;
    height:50px;
    float:left;
    margin-top:10px;
    margin-left:10px;

}

.profile-img-one {
    width:50px;
    height:50px;
    float:left;
    margin-top:15px;
    margin-left:10px;

}

.stream-header {
    float:left;
    margin-top: 10px;
    margin-left:5px;
}

.stream-header-one {
    float:left;
    margin-top: 13px;
    margin-left:5px;
}

.tweet-text{
    width:420px;

}

.facebook-text {
    width:420px;
    float:left;
    margin-left:6px;
}

#post-image {
    margin-top:10px;
    width:420px;
    height:150px;
    border:1px solid gray;
    text-align: center;
    float:left;
}

#post-image-one {
    margin-top:10px;
    margin-left:66px;
    width:420px;
    height:150px;
    border:1px solid gray;
    text-align: center;
    float:left;
}

.reply, .favorite, .retweet, .more {
    width:75px;
    height:30px;
    background-color: white;
    margin-top:10px;
    border:none;
}

.favorite, .retweet, .more{
    margin-left:0px;
}

.reply img {
    margin:0;
}

.more span{
    margin-left:10px;
    color:blue;
}

.koment, .chare {
    float:left;
    width:60px;
    margin-top:6px;
    font-size:10px;
    margin-left:20px;
    border:none;
    background-color:white;
}

.nikes {
    float:left;
    width:60px;
    margin-top:6px;
    font-size:10px;
    margin-left:58px;
    border:none;
    background-color:white;
}

#specs {
    margin-top:320px;
    width:420px;
    height:85px;
    border-bottom:1px solid gray;
    border-top:1px solid gray;
    border-right:1px solid gray;
    margin-left:66px;
}

.green, .red, .yellow{
    width:85px;
    height:83px;
    border-left:1px solid gray;
    float:left;
    text-align: center;
}

.blue, .purple {
    width:80px;
    height:83px;
    border-left:1px solid gray;
    float:left;
    text-align: center;

}

.blue span, .purple span, .green span, .red span, .yellow span {
    font-size:10px;
}


.green h3, .blue h3, .red h3, .purple h3, .yellow h3 {
    font-size:10px;
}

#retweets {
    width:60px;
    height:20px;
    float:left;
    display:inline-block;
    margin-left: 58px;
    margin-top: 10px;

}

#retweets span, #favorite span, #comment span, #like span, #share span, #gift span {
    color:gray;
}

#like span, #comment span, #gift span{
    margin-left:10px;

}

#favorite, #like, #comment, #gift{
    width:60px;
    height:20px;
    float:left;
    display:inline-block;
    margin-left:15px;
    margin-top: 10px;

}

#share {
    width:60px;
    height:20px;
    float:left;
    display:inline-block;
    margin-left:10px;
    margin-top: 10px;
}

span.post-msg-success {
    color: green;
    font-size: 20px;
    display: none;
}

span.post-msg-processing {
    color: darkgoldenrod;
    font-size: 20px;
    display: none;
}

span.post-msg-fail {
    color: darkred;
    font-size: 20px;
    display: none;
}







