body{
    line-height: 1!important;
}

h3  {
    font-weight : 300!important;
    margin-top: 10px!important;
    margin-bottom : 0!important;
    font-size: 18px !important;
}

h2 {
    margin-bottom: -5px!important;
    font-size : 24px!important;
}

h4 {
    font-size: 16px !important;
}

.post {
    border-radius: 5px !important;
}

.post .media-left {
    padding-right: 0 !important;
}