span.post-msg-fail {
    color: darkred;
    font-size: 17px;
    display: none;
}

.keywords{
    font-size: 14px;
    vertical-align: middle;
    padding: 10px 10px 5px 10px;
    color: brown;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    min-height: 30px;
    border-top: dashed;
    border: solid;
    border-width: thin;
    margin-top: -6px;
    border-color: rgb(169, 169, 169);
}

.keywords button {
    border-radius: 20px;
    padding: 0px 12px;
}

textarea.message {
    border-bottom: dashed;
    border-width: 1px;
}
span.post-msg-success {
    color: green;
    font-size: 17px;
    display: none;
}

span.post-msg-processing {
    color: darkgoldenrod;
    font-size: 17px;
    display: none;
}

.mergedPost{
    background: white;
    /*border: solid;
    border-color: white;
    */padding: 10px;
    box-shadow: 2px 2px 7px #888888;
    margin-top: 4px;
    border-radius: 5px;
}

.mergedPost textarea{
    width:100%;
    max-width:100%;
}

.mergedPost #AttachFile{
    float:left;
    display: inline-block;
    width:85%;
    max-width:100%;
}

.mergedPost b {
    line-height: 200%;
}

span.postCount {
    font-size: 20px;
    color: #337ab7;
    font-weight: bold;
}


label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
    font-size: 25px;
    color: #000000;
    padding: 0px 5px;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
}

#previewContainer {
    display: inline-block;
    margin-top: 12px;
}
.myLabel:hover {
    background: #CCC;
}
.myLabel:active {
    background: #CCF;
}

.mergedPost input {
    font-size: 12px;
}