/* Sales SR*/
/*@import "../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/_css3";*/
body {
  font-size: 12px;
}

#update {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 150px;
  height: 40px;
  border: solid #D7ECFE;
  background: #f7f9fb;
  margin: 10px;
  text-align: center;
  padding: 2px;
  line-height: 40px;
  margin-top: 70px;
  display: none;
}

#update span {
  font-size: 20px;
}

#reports {
  /*width: 1200px;*/
  height: 1000px;
  float: left;
  margin: 0 auto;
}

#set {
  width: inherit;
  height: 40px;
  background-color: #d7ecfe;
  display: inline-block;
}

#set h2 {
  margin: 8px;
  float: left;
}

#set img {
  margin: 12px;
  float: left;
}

table {
  /* border:1px solid black;*/
}

h1 {
  color: #606060;
  font-family: 'Segoe UI';
}

h2 {
  color: #606060;
  font-family: 'Segoe UI';
  font-size: 21px;
}

h3 {
  font-family: 'Segoe UI';
  font-size: 16px;
}

#taxes {
  margin: 0 auto;
}

#box {
  margin-top: 20px;
  width: inherit;
  height: 85px;
  padding-top: 10px;
  background-color: #d7ecfe;
}

.filterItem {
  margin: 20px;
  float: left;
  display: inline-block;
  font-size: 14px;
  height: 25px;
  text-align: center;
}

.filterItem input {
  margin-left: 10px;
  line-height: 20PX;
}

.filterItem select {
  margin-left: 10px;
}

#button-one {
  display: none;
  width: 80px;
  background-color: #44a6fb;
}

#button-one a {
  margin: 15px;
  text-decoration: none;
  color: white;
  font-family: helvetica;
  font-size: 19px;
}
