/* Set width on the form input elements since they're 100% wide by default */
@font-face {
  font-family: 'Volkswagen Serial';
  src: url('/fonts/VSB.ttf') format('truetype') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Rockingham';
  src: url('/fonts/RMR.ttf') format('truetype') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*#group{
    overflow: visible!important;
}*/



.AddButton{
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.follow.btn {
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    font-weight: bold;
    background-image: linear-gradient(#fff,#f5f8fa);
    color: #292f33;
    font-size: 13px;
    padding: 3px 11px;
    vertical-align: middle;
    border-radius: 4px;
}

.following.btn {
    font-weight: bold;
    font-size: 13px;
    padding: 3px 11px;
    vertical-align: middle;
    border-radius: 4px;
}

.follow.btn .fa{
    color:rgb(85, 172, 238);
}

.AddButton a{
        color: #428bca;
        text-decoration: none;
        background: white;
        padding: 10px;
}



.viewer img:not(.previewReplyImage):not(.previewRetweetImage){
    position:relative;
    margin:20px;
    height:90px;
    float:left;
}

.viewer .pageSelectorPic{
    margin-left:35px;
}


.viewer .venueSelectorPic{
    margin-left:35px;
}

.viewer span:not(.exceedCount){
    position:relative;
    float:left;
    top:45px;
    font-weight:bold;
}


/* Menu Template */

.menuViewer{
    position:absolute;
    width:100%;
    height:100%;
    background:white;
    opacity:1;

   /* margin:5%;
    margin-left:20%;
    margin-right:20%;
    display:none;*/
    overflow:auto;
}

.menuViewer #MenuContainer #MenuControl #MenuControlContain {
    margin:10px;
}

.menuViewer #MenuContainer #MenuControl #MenuControlContain .menuName {
    border: 1px solid #FFF;
    border-radius: 3px;
    min-height: 36px;
    color: #666;
    padding: 0 5px;
    margin: 0 0 5px;
    font-size: 15px;
    font-weight: normal;
}

#MenuView .menuBackground{
    background-image : url("/images/a.svg");
    color:#592902;
    width:400px;
    height:100%;
    background-size:cover;
    background-repeat:repeat;
    margin-left:50px;
    word-wrap:break-word;
    overflow:hidden;
}

#MenuView .menuBackground img{
    width:400px;
    height:100%;
    float:left;
}


#MenuView .menuBackground .Page{
    overflow:visible;
}
#MenuView .menuBackground .space{
    width:100%;
}

#MenuView .menuBackground .h_top{
    height:29px;
}

#MenuView .menuBackground .h_bottom{
    height:14px;
}

#MenuView .menuBackground .s_bottom{
    height:14px;
}


#MenuView .menuBackground .Header .type3{     
    font-size:36px;
    font-family: 'Lobster', cursive;
    font-style:normal;
    font-weight:bold; 
}

#MenuView .menuBackground .Header .type2{
    font-size:28px;
    font-family: 'Lobster', cursive;
    font-style:normal;
    font-weight:normal; 
}

#MenuView .menuBackground .Header .type1{
    color:#592902; 
    font-size:16px;
    font-family: 'Indie Flower', cursive;
    font-style:normal;
    font-weight:normal; 
}

#MenuView .menuBackground .Sections .Section .SectionHead{
    font-size:18px;
    font-family: 'Lobster', cursive;
    font-style:normal;
    font-weight:bold; 
}

#MenuView .menuBackground .Sections .Section .SectionNote{
    font-size:12px;
    font-family: 'Indie Flower', cursive;
    font-style:normal;
    font-weight:normal; 
}

#MenuView .menuBackground .Sections .Section .items .itemDesc{
    font-size:12px;
    font-family: 'Indie Flower', cursive;
    font-style:normal;
    font-weight:normal; 
    display:inline-block;
}

#MenuView .menuBackground .Sections .Section .items .itemHead{
    font-size:13px;
    font-family: 'Indie Flower', cursive;
    font-style:normal;
    font-weight:bold; 
}

#MenuView .menuBackground .Footer{
    font-size:9px;
    font-family: 'Indie Flower', cursive;
    font-style:normal;
    font-weight:normal; 
}


/* Facebook Pages */

#PagesInfo{
    width:100%;
    position:relative;
    float:left;
}
#PagesInfo .pageSelector{
    width:100%;
    position:relative;
    float:left;
}


/* Foursquare Venues */

#VenueInfo{
    width:100%;
    position:relative;
    float:left;
}
#VenueInfo .venueSelector{
    width:100%;
    position:relative;
    float:left;
}

/*

    Poster New

*/


.network-type{
    top:0px;
    position: relative;
    float: right;
    font-size: 20px;
    height: 20px;
}

.FB .network-type i{
    color: rgb(60, 87, 146);
}

.TW .network-type i{
    color:rgb(85, 172, 238);
}

.IT .network-type img{
    max-height: 100%;
    display: inline-block;
}

.network-type i.fa-expand{
    color : #7B7B7B;
}

.FS .network-type i{
    color:#F94977;
}

h4.content {
    font-size: 14px;
    word-wrap: break-word;
    font-weight: bold;
    overflow: hidden;
}
.profile-pic{
     width: 64px;
     height: 64px;
     display: block;
 }

.profile-pic img{
    max-height: 100%;
    max-width: 100%;
}

.comment-profile-pic{
    width: 35px;
    height: 35px;
    display: block;
}

.comment-profile-pic img{
    max-height: 100%;
    max-width: 100%;
}

.comment-name{
    font-size: 12px;
}

.comment{
    overflow-y: auto;
    background: #ffffff;
    padding: 10px 0px;
}
.footer {
    vertical-align: middle;
}

.like-number, .comment-number {
    font-size: 12px;
}

.like-link {
    font-size: 10px;
    color: #7B7B7B;
    cursor: pointer;
}
.comment-link {
    font-size: 10px;
    color: #7B7B7B;
    cursor: pointer;
}

a.like-link:hover, a.comment-link:hover{
    text-decoration: none;
}

.like-info {
    font-size: 10px;
    color: #7B7B7B;
}

.link-caption{
    font-size: 12px;
    color: #7B7B7B;
}

.icons {
    font-size: 14px;
}

.icons i{
    color: #7B7B7B;
}

.time {
    margin: 0px ;
    font-size: 10px;
}

.rowPost{
    margin: 0 -10px -10px -10px;
}

.post {
    padding:10px;
    box-shadow: 2px 2px 7px #888888;
    margin: 10px 0 10px 0;
    background-color: white ;
}

.header{
    padding: 0 0 0 10px;
}

span.comment-msg-success {
    color: green;
    font-size: 17px;
    display: none;
}

span.comment-msg-fail {
    color: darkred;
    font-size: 17px;
    display: none;
}

.post-contents .thumbnail{
    margin-bottom: 0;
}

.retweetHead, .retweetHead a {
    color:#808080;
}

.retweetHead i{
    color:rgb(119, 178, 85);
}

/* Flip */


/* entire container, keeps perspective */
.flip-container {
   /* width: 25%;*/
}
/* flip the pane when hovered */
.flip-container.flip .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;:
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back{
    position: absolute;
    /*height: 96%;*/
    top:0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); 
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.marginBottom {
    margin-bottom:25px;
}

.post-contents{
    margin-bottom: 10px;
}

.profile-pic {
    width: 48px;
    height: 48px;
    display: block;
    margin-right: 5px;
}
