/* Content */

.screen {
    padding-top: 10px;
    padding-bottom: 0px;
    /*background-color:#155687;*/
    margin-bottom: 0px;
}

.screen-tile{
    border: solid;
    border-width: thin;
    margin-right: 1.6666%;
    margin-left: 1.6666%;
    border-color: cornflowerblue;
    border-radius: 5px;
}

.screen-content {
    padding-bottom: 15px;
    padding-top: 15px;
    background-color:white;
}

.screen-title {
    color: white;
    background-color:#3fa4ff;
    padding-bottom: 15px;
}

#main-box, #fs-box, #fb-box, #tw-box, #click-box{
  float:left;
  width:100px;

}

.main-bubble {
    margin-top:10px;
    width:830px;
    height:80px;
    border-radius: 10px;
    background-color:#3fa4ff;
    margin-left:110px;
}

.fs-bubble {
    margin-top:10px;
    width:830px;
    height:80px;
    border-radius: 10px;
    background-color:#0080b5;
    margin-left:110px;
    color:white;
    font-size:20px;
}

.fb-bubble {
    margin-top:10px;
    width:830px;
    height:80px;
    border-radius: 10px;
    background-color:#3a5997;
    margin-left:110px;
}

.tw-bubble {
    margin-top:10px;
    width:830px;
    height:80px;
    border-radius: 10px;
    background-color:#578ec6;
    margin-left:110px;
}

.click-bubble {
    margin-top:10px;
    width:830px;
    height:80px;
    border-radius: 10px;
    background-color:#3fa4ff;
    margin-left:110px;
}

.main-bubble p {
  color:white;
  font-family: Helvetica;
  font-size: 20px;
  position:relative;
  left:20px;
  top:25px;
}

.fs-bubble p {
  position:relative;
  left:20px;
  top:25px;
}

.main img {
  margin-left:20px;
  margin-top:10px;
  float:left;
}

.fs img {
  margin-top:10px;
  margin-left:20px;
  float:left;
}

.fb, .main, .click{
  margin-top:30px;
  width:960px;
  height:100px;
  border:1px solid white;

}


.fs, .fb, .tw{
  margin-top:30px;
  width:960px;
  height:200px;
  border:1px solid white;
  
  
}

.fb img {
  margin-top:10px;
  margin-left:20px;
  float:left;
}

.tw img {
  margin-top:10px;
  margin-left:20px;
  float:left;
}

.click img {
  margin-top:10px;
  margin-left:20px;
  float:left;
}

.fb span {
  color:white;
  font-family: Helvetica;
  font-size:20px;
  margin-top:20px;
}

.facebubble  {
  margin-top:10px;
  float:left;
  width:830px;
  height:80px;
  border-radius: 10px;
  background-color:#3a5997;
  margin-left:30px;
}

.comment {
  width:830px;
  height:70px;
  border-radius: 10px;
  background-color:#d2d3d5;
  margin-left:110px;
  z-index:-1;
}

.date {
  width:60px;
  height:25px;
  margin-top:5px;
  float:left;
  margin-left:15px;
  background-color:#3fa4ff;
  border-radius: 10px;
 }

 .date-one {
  width:60px;
  height:25px;
  margin-top:5px;
  float:left;
  margin-left:15px;
  background-color:#0080b5;
  border-radius: 10px;
 }

 .date-two {
  width:60px;
  height:25px;
  margin-top:5px;
  float:left;
  margin-left:15px;
  background-color:#3a5997;
  border-radius: 10px;
 }

  .date-three {
  width:60px;
  height:25px;
  margin-top:5px;
  float:left;
  margin-left:15px;
  background-color:#578ec6;
  border-radius: 10px;
 }

 .date-four {
  width:60px;
  height:25px;
  margin-top:5px;
  float:left;
  margin-left:15px;
  background-color:#3fa4ff;
  border-radius: 10px;
 }


.date p, .date-one p, .date-two p, .date-three p, .date-four p {
   font-family:helvetica;
   color:white;
   margin-left:8px;
   margin-top:5px;
}

#comment-box {
  width:960px;
  height:100px;
  border:1px solid #3fa4ff;
  margin-top:20px;
}

#screen h3 {
  text-align: center;
  color:white;
  font-family:helvetica;
}

.screen-content {
    border-radius: 5px;
  font-size:16px;
  color:#4682B4;
}

.screen-caption {
  font-size:18px;
  color:black;
  margin:0;
  font-weight: bold;
}

.status, .vid, .photo{
  width:300px;
  height:30px;
  float:left;
  text-align: center;
  margin-left:15px;
  border: 1px solid gray;
}


.status p , .vid p, .photo p {
  color:gray;
}

.thinking {
  width:930px;
  height:50px;
  border:1px solid blue;
  float:left;
  text-align: center;
  margin-left:15px;
 }

.thinking p  {

  
}

#person {
  float:left;
}

.comment img {
  float:left;
}

.comment p {
  position:relative;
  top:25px;
  left:10px;
}

.sc {
  float:right;
  margin-top:30px;
  margin-right:65px;
}

.sc a {
  margin-left:30px;
}

.fb-bubble p, .click-bubble p, .tw-bubble p {
  color:white;
  font-size:20px;
  position:relative;
  top:25px;
  left:20px;
}





