.mergedPost{
    background: white;
    /*border: solid;
    border-color: white;
    */padding: 10px;
    box-shadow: 2px 2px 7px #888888;
    margin-top: 4px;
}

.mergedPost textarea{
    width:100%;
    max-width:100%;
}

.mergedPost #AttachFile{
    float:left;
    display: inline-block;
    width:85%;
    max-width:100%;
}

.mergedPost b {
    line-height: 200%;
}
/*

    Poster New

*/


.network-type{
    top:0px;
    position: relative;
    float: right;
    font-size: 20px;
    height: 20px;
}

.FB .network-type i{
    color: rgb(60, 87, 146);
}

.TW .network-type i{
    color:rgb(85, 172, 238);
}

.IT .network-type img{
    max-height: 100%;
    display: inline-block;
}

.network-type i.fa-expand{
    color : #7B7B7B;
}

.FS .network-type i{
    color:#F94977;
}

h4.content {
    font-size: 14px;
    word-wrap: break-word;
    font-weight: bold;
}
.profile-pic{
    width: 48px;
    height: 48px;
    display: block;
    margin-right: 5px;
}

.profile-pic img{
    max-height: 100%;
    max-width: 100%;
}

.comment-profile-pic{
    width: 35px;
    height: 35px;
    display: block;
}

.comment-profile-pic img{
    max-height: 100%;
    max-width: 100%;
}

.comment-name{
    font-size: 12px;
}

.comment{
    overflow-y: auto;
    background: #ffffff;
    padding: 10px 0px;
}
.footer {
    vertical-align: middle;
}

.like-number, .comment-number {
    font-size: 12px;
}

.like-info {
    font-size: 10px;
    color: #7B7B7B;
}

.link-caption{
    font-size: 12px;
    color: #7B7B7B;
}

.icons {
    font-size: 14px;
}

.icons i{
    color: #7B7B7B;
}

.time {
    margin-top: 10px ;
    font-size: 12px;
}

.rowPost{
    margin: 0px -5px 0px -5px;
}

.post {
    padding:10px;
    box-shadow: 2px 2px 7px #888888;
    margin: 10px 0px 10px 0px;
}

.header{
    padding: 0px 0px 10px 10px;
}

span.comment-msg-success {
    color: green;
    font-size: 17px;
    display: none;
}

span.comment-msg-fail {
    color: darkred;
    font-size: 17px;
    display: none;
}

.post-contents .thumbnail{
    margin-bottom: 0px;
}

.retweetHead, .retweetHead a {
    color:#808080;
}

.retweetHead i{
    color:rgb(119, 178, 85);
}

/* Flip */


/* entire container, keeps perspective */
.flip-container {
    /* width: 25%;*/
}
/* flip the pane when hovered */
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
}

.back{
    position: absolute;
    /*height: 96%;*/
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.marginBottom {
    margin-bottom:25px;
}