@media (min-width: 992px){
    #col-left {
        height:  calc(100vh - 270px)!important;
        padding: 40px;
    }

    #col-right {
        height: calc(100vh - 270px)!important;
    }

    #theater .col-md-9 {
        border-left: 2px solid blue;
    }
    #noLogo, #locationLogo {
        margin-top: 50px;
    }
    #theater {
        margin-top: 20px;
    }
}



#col-left {
    margin-bottom: 20px;
}

#head {
    background-color: #3fa4ff;
    margin: 0;
    color: white;
}
#head h2 {
    margin-bottom: 10px!important;
    margin-top: 10px!important;
}
#theater {
    background-color: white;
}
#col-right {
    height: calc(100vh - 390px);
    padding: 20px;
    overflow: auto;
}
#theater .col-md-8 {
    padding: 40px;
}
#noLogo {
    color: #3fa4ff;
}
#locationLogo img{
    margin: auto;
}
#updateText {
    color: #3fa4ff;
}

#stats {
    padding: 10px;
}

.stat-box.panel {
    color: #155687;
    border: solid #48ADFF 1px;
    border-radius: 15px;
}

.stat-box.panel .panel-heading {
    border-radius: 15px 15px 0 0;
    background: #48ADFF;
    border: none;
    font-size: 15px;
}
span.number {
    font-family: Times New Roman, Times, serif;
    font-size: 30px;
}

span.text {
    font-family: Times New Roman, Times, serif;
    font-size: 15px;
    color: black;
}

.separator {
    height: 10px;
}

.graph {
    height: 200px;
    border: solid #48ADFF 1px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.legend{
    font-size: 20px;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 18px;
    padding: 2px;
    font: 12px sans-serif;
    background: #337ab7;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-weight: bold;
    color: white;
}