#suggestions {
    width: 530px;
}

.col-4 {
    position: relative;
    width: 500px;
    margin: 10px;
    padding: 5px;
    float: left;
    display: inline-block;
}

.outerContain {
   overflow:auto;
    height: 1000px;
}

.special input[type=checkbox], .specialAll input[type=checkbox] {
    visibility: hidden;
}

.special {
    right: -35px;
    top: 10px;
}

.specialAll {
    right: -8px;
    top: -3px;
}


/* SQUARED TWO */
.squaredTwo {
    width: 28px;
    height: 20px;
    position: relative;
}

.squaredTwo label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    top: 4px;

   background: #fff;
border: 3px solid #000;
}

.squaredTwo label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 12px;
    height: 7px;
    background: transparent;
    top: 2px;
    left: 1px;
    border: 3px solid #000;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.previewReplyText {
    border: solid darkcyan 2px;
    padding: 7px;
}

.border-danger {
    border: solid #d9534f 2px!important;
    width: 80%;
}

.border-warning {
    border: solid #f0ad4e 2px!important;
    width: 80%;
}

.stats .hour,
.stats .day,
.stats .week,
.stats .month,
.stats .year,
.stats .century {
    display: none;
}